
.sunRiseContainer{
  margin: auto ;
  /* width: 95%; */
  height: 90%;
  /* border-width: 0.1rem;
  border-style: solid;
  border-color: var(--primary-pink);
  background-color: var(--darkest-navy); */
  display: flex;
  /* margin-top: -5rem; */
  margin-bottom: 5rem;
  opacity: 0;
  display: none;
}

.sunRiseInBlock{
  display: inline-flex;
  min-width: 75%;
  width: fit-content;
  margin: auto;
}

/* 
#mokaColID{
  margin-right: -1rem;
}

.mokaBaseLeft {
  background-color: rgb(226, 226, 226);
width:0.75rem;
  height: 1.75rem;
  border-width: 0.1rem;
  border-style: solid;
  border-color: black;
}
.mokaBaseCenter {
  background-color: rgb(170, 170, 170);
width:0.75rem;
  height: 1.75rem;
  border-width: 0.1rem;
  border-style: solid;
  border-color: black;
}

.mokaBaseRight {
  background-color: rgb(133, 133, 133);
width:0.75rem;
  height: 1.75rem;
    border-width: 0.1rem;
  border-style: solid;
  border-color: black;
}

.espressoDrop {
width:1.75rem;
  height: 1.75rem;
  background-color: rgb(75, 50, 36);
  border-radius: 50%;
}

.mokaMiddleDarkBrown {
width:0.75rem;
  height: 1.75rem;
  background-color: rgb(82, 46, 25);
  border-width: 0.1rem;
  border-style: solid;
  border-color: black;
}

.mokaMiddleWhite {
width:0.75rem;
  height: 1.75rem;
  background-color: rgb(226, 226, 226);
  border-width: 0.1rem;
  border-style: solid;
  border-color: black;
}

.mokaMiddleLightBrown {
width:0.75rem;
  height: 1.75rem;
  background-color: rgb(128, 80, 58);
  border-width: 0.1rem;
  border-style: solid;
  border-color: black;
}

.mokaMiddleLightestBrown {
width:0.75rem;
  height: 1.75rem;
  background-color: rgb(163, 102, 73);
  border-width: 0.1rem;
  border-style: solid;
  border-color: black;
}

.mokaHandle {
width:0.75rem;
  height: 1.75rem;
  background-color: rgb(53, 52, 52);
  border-width: 0.1rem;
  border-style: solid;
  border-color: black;
}

.mokaTop {
  background-color: rgb(53, 52, 52);
width:0.75rem;
  height: 1.75rem;
  border-width: 0.1rem;
  border-style: solid;
  border-color: black;
}

.emptyMokaSquare {
width:0.75rem;
  height: 1.75rem;
  background-color: transparent;

} */
