
.sunRiseContainer{
  margin: auto ;
  height: 90%;
  display: flex;
  margin-bottom: 5rem;
  opacity: 0;
  display: none;
}

.sunRiseInBlock{
  display: inline-flex;
  min-width: 75%;
  width: fit-content;
  margin: auto;
}