/************************* MEDIA QUERIES *********************************/

@media (min-width: 15rem) {
  #municipality_3_sql {
    width: 95%;
  }
  #municipality_3_ps1 {
    width: 45%;
  }

  #municipality_3_csharp {
    width: 20%;
  }

  .techText {
    max-width: 100%;
  }
}

@media (min-width: 25rem) {
  #municipality_3_sql {
    width: 85%;
  }
  #municipality_3_ps1 {
    width: 35%;
  }

  #municipality_3_csharp {
    width: 20%;
  }
}

@media (min-width: 40rem) {
  #municipality_3_sql {
    width: 75%;
  }
  #municipality_3_ps1 {
    width: 25%;
  }

  #municipality_3_csharp {
    width: 15%;
  }

  .techText {
    max-width: 75%;
  }
}

@media (min-width: 60rem) {
  .smallScreen {
    display: none;
  }

  #municipality_3_sql {
    width: 75%;
  }
  #municipality_3_ps1 {
    width: 25%;
  }

  #municipality_3_csharp {
    width: 15%;
  }

  .techText {
    max-width: 50%;
  }
}

@media (min-width: 80rem) {
  #municipality_3_sql {
    width: 75%;
  }
  #municipality_3_ps1 {
    width: 25%;
  }

  #municipality_3_csharp {
    width: 15%;
  }
}

/************************* EXP Menu *********************************/

#expMenu {
  opacity: 1;
  position: relative;
  width: 100%;
  margin: auto;
  border-radius: 18px;
  background-color: var(--bg-sub-dark);
  border: 0.15rem solid black;
  box-shadow: var(--blackWhiteShadow);
  padding: 0.75rem;
  margin: 0.75rem;
}

.expTable {
  width: 90%;
  display: inline-block;
  margin: auto;
  position: relative;
}

.techCategory {
  margin: auto;
  margin-top: 0.75rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: fit-content;
  padding: 1rem;

  color: var(--primary-white);
  border: 0.1rem black solid;
  border-style: solid;
  opacity: 1;
  background-color: var(--secondaryColor);
  display: flex;
  transition: var(--transition);
  box-shadow: var(--btnShadow);
  border-radius: 18px;
}

.techCategory:hover {
  background-color: var(--btnHoverColor) !important;
}

.techCategory:active {
  background-color: var(--btnActiveColor) !important;
}
.scrollLine {
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  height: 0.25rem;
}

.scrollIcon {
  color: var(--secondaryColor-dark);
  scale: 1.5;
  margin: 0.5rem;
}

#expCategoryMenu {
  overflow: auto;
  border-radius: 18px;
  padding: 0.5rem;
  /* background-color: var(--bg-sub-dark); */
  /* width: 90%; */
}

/* Handle */
::-webkit-scrollbar {
  width: 1rem;
  height: 0.6rem !important;
  box-shadow: inset 0 0 0.5rem var(--dark-slate);
  background-color: var(--darkest-navy);
}

/* Track */
::-webkit-scrollbar-track:horizontal {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 16px;
  box-shadow: none;
  height: 3rem;
  width: 12rem;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: var(--secondaryColor-darkest);
}

/************************* EXP Information *********************************/
#_container {
  opacity: 1;
}

#_periodSystem {
  margin: auto;
}

.headerTech {
  color: var(--secondaryColor-darkest) !important;
  position: relative;
  width: fit-content;
  text-align: left;
  word-break: normal;
  margin-bottom: 1rem;
}

.periodColContainer {
  display: block;
  max-width: 8.75rem;
  width: max-content;
  float: left;
}

#confidentialParagraph {
  font-style: italic;
  display: none;
  text-align: left;
}
.header3Tech {
  color: var(--primaryText);
  display: inline-block;
  height: fit-content;
  max-width: 11.25rem;
  width: max-content;
  margin: auto;
  align-content: center;
  position: relative;
  text-align: left;
  word-break: keep-all;
  border-width: 1rem;
  margin: 0.25rem;
  margin-left: 0;
  padding-left: 0 !important;
  float: left;
}

.techRow {
  border-radius: 18px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--secondaryColor-dark);
  border: 0.1rem solid black;
  height: fit-content;
  opacity: 0;
}

.techSkill {
  color: var(--primary-white);
  margin: auto;
  padding: 1%;
  height: fit-content;
}

.techUnderLine {
  background-color: var(--secondaryColor-darkest);
  margin-bottom: 1rem;
  margin: auto;
  width: 100%;
  height: 0.15rem;
  margin-top: -1rem;
}

#techRowOneID {
  width: 80%;
}

#techRowTwoID {
  width: 30%;
  height: fit-content;
}

#techRowThreeID {
  width: 20%;
  height: fit-content;
}

.techText {
  color: var(--primaryText);
  text-align: left;
  white-space: normal !important;
  opacity: 0;

  width: 95% !important;
  border-radius: 18px;
  display: block;
}

.majorExphighLight {
  color: var(--secondaryColor-darkest) !important;
}

.textText p span {
  word-break: keep-all;
}

ul {
  list-style: none;
}

.li_icon {
  font-weight: bold;
  display: inline-block;
  width: 0.2rem;
  margin-left: -0.8rem;
  margin-right: 0.6rem;
  color: var(--secondaryColor-darkest);

  position: relative;
  opacity: 0;
}

.techSkillContainer {
  display: none;
  opacity: 0;
}

/************************* Tech skills *********************************/

#fintech_angular {
  width: 90%;
}

#fintech_css {
  width: 40%;
}

#fintech_csharp {
  width: 20%;
  padding: 0.25rem;
}

#municipality_2_sql {
  width: 50%;
}

#municipality_2_javascript {
  width: 50%;
}

#municipality_2_htmlcss {
  width: 50%;
}

#municipality_2_csharp {
  width: 50%;
}
