#portfolioContainerID {
  opacity: 1;
  margin-top: 1rem;
}
.portfolioTextContainer .duckText {
  color: var(--lightest-slate) !important;
  margin-top: 0;
  margin-bottom: 1rem;

  width: 90%;
}
#portfolioID {
  margin-bottom: 0 !important;
}

.portfolioNavBtn {
  background-color: var(--darkest-navy);
  border-radius: 18px;
  padding: 0.25rem;
  color: var(--primary-greyBlue);
  margin: auto;
  margin-top: 2rem;
  justify-content: center;
  box-shadow: var(--btnResumeShadow);
  width: 90%;
}
.btnContainer {
  background-color: transparent;
  border-color: transparent;
  display: inline-block;
}

.portfolioPlayBtn {
  border-radius: 50%;
  border: 0.3rem var(--light-slate) solid;
  display: inline-block;
  width: fit-content;
}

.portfolioPlayBtn > .btnContainer {
  transform: scale(0.75);
  margin: auto;
  height: 2rem;
  width: fit-content;
}

.leftBtn {
  transform: rotate(180deg);
  width: 2rem;
  height: 2rem;
  color: var(--primary-white);
  opacity: 0;
  margin-top: 0.5rem;
}

.rightBtn {
  width: 2rem;
  height: 2rem;
  color: var(--primary-white);
  margin-top: 0.5rem;
}

.rightBtn:hover {
  color: var(--slate) !important;
}
.rightBtn:active {
  color: var(--dark-slate) !important;
}

.leftBtn:hover {
  color: var(--slate) !important;
}
.leftBtn:active {
  color: var(--dark-slate) !important;
}

.portfolioTextContainer {
  margin: auto;
  display: inline-block;
}

.portfolioExp {
  margin: auto;
}
.coronaHero {
  margin: auto;

  display: block;
  transform: scale(0.25);
}
.portfolioTextContainer h2 {
  color: var(--primary-pink);
}

.portfolioTextContainer h3 {
  color: var(--primary-pink);
  text-align: left;
  padding: 0.5rem;
}

.portfolioTextContainer h4 {
  color: var(--primary-pink);
  text-align: left;
  padding: 0.5rem;
}

.portfolioTextContainer p {
  color: var(--lightest-slate);
  text-align: left;
  display: inline-block;
  padding: 0.5rem;
}

.talkBubble {
  width: 8rem;
  height: 3.5rem;
  border-radius: 18px;
  background-color: var(--white);
  margin: 1rem;
  margin-top: -3rem;
  margin-left: -4rem;
  display: flex;
}

.talkBubble p {
  color: black;
  font-weight: bold !important;
  margin: auto;
  text-align: center;
  font-size: 0.9rem !important;
}

.avatarDad p,
.avatarMom p {
  color: var(--primary-white);
  font-weight: bolder !important;
}

.avatarEdipParagraph {
  margin-top: 4.25rem;
  margin-left: 1.5rem;
  width: 5rem;

  color: white !important;
  font-weight: bolder !important;
  position: absolute;
}

.avatarDadParagraph {
  margin-top: 4.25rem;
  margin-left: 9rem;
  width: 5rem;

  color: white !important;
  font-weight: bolder !important;
  position: absolute;
}

.avatarMomParagraph {
  margin-top: 4.25rem;
  margin-left: 13.5rem;
  width: 5rem;
  color: white !important;
  font-weight: bolder !important;
  position: absolute;
}

.avatarCircle {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background-color: var(--primary-light-green);
  margin: 1rem;
  z-index: 3;
  box-shadow: var(--smallShadow);
}

.avatarCircle .eyesContainer {
  margin-left: 1.25rem;
  margin-top: 0.5rem;
}

.eyeBrows {
  float: left;

  width: 0.75rem;
  height: 0.35rem;
  background-color: var(--primary-brown);
  margin: 0.1rem;
}

.eyebrowRightID {
  margin-left: 0.5rem;
}
.eyeAvatar {
  float: left;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--primary-white);
  margin-left: 0.1rem;
}

.eyePupil {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  margin-left: 0.25rem;
  margin-top: 0.25rem;
}

.avatarNose {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-left: 1.9rem;
  margin-top: 1.3rem; 
  z-index: 2;
  background-color: deeppink;
  box-shadow: var(--blackWhiteShadow);
  display: block;
  position: absolute;
}

.regretNose{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  top:1.75rem;
  left:1.9rem;
  background-color: deeppink;
  box-shadow: var(--blackWhiteShadow);
  display: block;
  position: absolute;
}

.leftArmAvatar {
  width: 1.15rem;
  height: 1.15rem;
  border-radius: 50%;
  background-color: var(--primary-red);
  margin-top: 0.5rem;
  margin-left: -0.5rem;
  box-shadow: var(--avatarLegArmShadow);
  rotate: 90deg;
}

.rightArmAvatar {
  width: 1.15rem;
  height: 1.15rem;
  border-radius: 50%;
  background-color: var(--primary-red);
  margin-top: -2.25rem;
  margin-left: 3.5rem;
  box-shadow: var(--avatarLegArmShadow);
  rotate: 90deg;
}

.leftLegAvatar {
  width: 0.75rem;
  height: 1.5rem;
  transform: rotate(50deg);
  border-radius: 50%;
  background-color: var(--primary-red);
  margin-top: -1.25rem;
  margin-left: -0.25rem;
  box-shadow: var(--avatarLegArmShadow);
}

.rightLegAvatar {
  width: 0.75rem;
  height: 1.5rem;
  transform: rotate(50deg);
  border-radius: 50%;
  background-color: var(--primary-red);
  margin-top: 0.15rem;
  margin-left: 2.25rem;
  box-shadow: var(--avatarLegArmShadow);
}

.avatarMouth {
  width: 0.75rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-left: 1.7rem;
  margin-top: 2.5rem;
  background-color: black;
}

.avatarCircle .eyePupil {
  background-color: black;
}

#avatarDad .eyePupil {
  background-color: black;
  height: 0.4rem;
  width: 0.4rem;
  margin: auto;
  margin-top: 0.14rem;
  margin-left: 0.05rem;
}

.avatarDadEyeAvtar {
  background-color: var(--primary-white);
}

#avatarDad .eyeAvatar {
  float: left;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  margin-right: 0.2rem;
}

#avatarDad .eyeBrows {
  margin-left: 0.025rem;
}
#avatarDad .eyesContainer {
  margin-left: 0.75rem;
  margin-right: 0.5rem;
  margin-top: 0.6rem;
}

#avatarDad .avatarNose {
  background-color: var(--primary-purple);
  margin-left: 1.2rem;
}

#avatarDad .avatarMouth {
  margin-left: 1.2rem;
}

#avatarDad {
  background-color: #d4bb32;

  margin: 1rem;
  margin-left: 8.5rem;
  position: absolute;
}

#avatarMom {
  background-color: #e2acc8;
  margin: 1rem;
  margin-left: 13rem;
  position: absolute;
}

#avatarMom .eyeBrows {
  margin-left: 0.025rem;
}

#avatarMom .eyesContainer {
  margin-left: 0.85rem;
  margin-right: 0.5rem;
  margin-top: 0.6rem;
}
#avatarMom .eyeAvatar {
  float: left;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
}

#avatarMom .eyePupil {
  background-color: black;
  height: 0.3rem;
  width: 0.3rem;
  margin: auto;
  margin-top: 0.2rem;
  margin-left: 0.05rem;
}

#avatarMom .avatarNose {
  margin-left: 1.2rem;
  background-color: var(--primary-purple);
}

#avatarMom .avatarMouth {
  border-radius: 0 0 2.0625rem 2.0625rem;
  background: black;
  margin-left: 1.15rem;
  margin-top: 2.5rem;
}

#heroEdipID {
  z-index: 3 !important;
}
#heroEdipEyesID .eyePupil {
  margin-top: 0.05rem;
  margin-left: 0.3rem;
}

.avatarHeroMouth {
  width: 0.75rem;
  height: 0.25rem;
  transform: rotate(-25deg);
  border-radius: 25%;
  margin-left: 1.8rem;
  margin-top: 2.65rem;
  background-color: black;
}

.lightYear {
  width: 0.1em;
  height: 5rem;
  background-color: var(--primary-white);
  margin-right: -0.25rem;
  margin-top: 3rem;
}

#headHitWall {
  margin: auto;
}
.wall {
  width: 3.5em;
  height: fit-content;
  background-color: var(--dark-slate);
  display: block;
  z-index: 1;
  position: inherit;
  margin-left: 1rem;
}

.forceWall {
  box-shadow: 0rem 5rem 10rem 4.25rem #048ced9d;
  width: 3.75rem;
  height: fit-content;
  justify-content: center;
  align-items: center;
  display: block;
  background-color: var(--dark-slate);
  opacity: 0;
}

#avatarWall h4 {
  text-shadow: 0.15em 0.15rem 0.5rem var(--light-slate);
}

.rainDropTable table tbody {
  border-collapse: separate;
  margin: auto;
}
.rainDrop {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0 50% 50% 50%;
  border: 3px solid var(--primary-darker-blue);
  background-color: var(--primary-blue);
  transform: rotate(45deg);
  margin-top: -1.5rem;
  margin-bottom: 5rem;

  opacity: 0;
  z-index: 3 !important;
  margin-left: 2rem;
  margin-right: 2rem;
  position: absolute;
}

.noDrop {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0 50% 50% 50%;
  border: 3px solid var(--primary-darker-blue);
  background-color: var(--primary-blue);
  transform: rotate(45deg);
  margin-top: 0.5rem;
  opacity: 0;
  margin-left: 2rem;
  margin-right: 2rem;

  position: absolute;
}

#talkBubbleRegretID {
  margin-left: 10rem;
  margin-top: -1.75rem;
  margin-bottom: -5rem;
  height: 4rem;
  width: 8.5rem;
}

#avatarRegretID {
  margin-right: 5rem;
  z-index: 1;
}
#avatarRegretID .eyePupil {
  margin-top: -0.1rem;
}

#regretEyeBrowLeftID {
  float: left;

  width: 0.75rem;
  height: 0.35rem;
  background-color: var(--primary-brown);
  margin: 0.1rem;
  transform: rotate(-45deg);
  margin-left: -0.25rem;
}
#regretEyeBrowRightID {
  float: left;
  width: 0.75rem;
  height: 0.35rem;
  background-color: var(--primary-brown);
  margin: 0.1rem;
  transform: rotate(-45deg);
  margin-left: 0.75rem;
  transform: rotate(45deg);
}

#talkChallengeID {
  margin-left: 10rem;
  margin-bottom: -3rem;
}

.animContainer {
  margin: auto;
  padding: 0.75rem;
  width:100%;
  min-height: 20rem;
  max-height: 40rem;
  height: fit-content;
  border-radius: 18px;
  background-color: var(--darkest-navy);
  display: block;
  margin-top: 1rem;
  margin-bottom: 5rem;
  opacity: 0;
  display: none;
  box-shadow: var(--portfolioAnimeShadow);
}

.portfolioParagraph {
  padding: 0.5rem !important;
  width: 90%;
  color: var(--slate) !important;
  margin: auto;
  /* margin-top: 1rem; */
  display: inline-block;
}




#story_0 {
  opacity: 1;
  display: block;
}

.journeyScene {
  width: 90%;
  height: 15rem;
  scale:0.75;
  margin: auto;
  display: block;
  z-index: 1;
  margin-bottom: -2rem;
  margin-top: -2rem;
}

.sunRise {
  width: 5rem;
  height: 5rem;
  transform: scale(0.7);
  margin: auto;
  display: block;
  border-radius: 50%;
  background-color: #dbd659e6;
  box-shadow: 0rem -1rem 5rem 3rem #ffa3059d;
  opacity: 0;
  z-index: -1;
}

.zenBigCircle {
  width: 8rem;
  height: 8rem;
  margin: auto;
  display: flex;
  margin-top: -.5rem;
  border-radius: 50%;
  background-color: #dbd659e6;
  box-shadow: 0 0.1rem 0.25rem 0rem var(--darkest-navy),
    inset -0.2rem -0.2rem 0.5rem 0rem var(--lightest-navy),
    inset 0.3rem 0.4rem 0.5rem 0.1rem var(--primary-white);
  opacity: 1;
}

.zenSmallCircle {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #f4f086e6;
  border: 0.25rem #f5f183e6 solid;

  box-shadow: 0 0 3rem -0.1rem #fffbf59d;
  opacity: 1;
}

.zenAvatarCircle {
  position: absolute;
  display: inline-flex;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background-color: var(--primary-light-green);
  box-shadow: var(--xsSmallShadow);

  margin: 1rem;
  margin: auto;
  margin-left: 0.1rem;
  margin-top: 1.75rem;
}

.zenParagraph {
  
  margin-left: 0.05rem;
}

.zenHand {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--primary-light-green);
  display: inline-block;
  margin-left: 1.75rem;
  margin-bottom: -1rem;
  margin-bottom: -10rem;
}

.emptyHandSpace {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin: auto;
  display: flex;
  margin-left: 0.12rem;
  margin-top: 0.15rem;
  background-color: #fdfcd7e6;
}

.zenFinger {
  width: 1.25rem;
  height: 0.25rem;
  background-color: var(--primary-light-green);
  display: inline-flex;
  margin-top: -0.15rem;
}

.zenEyes {
  width: 0.75rem;
  height: 0.1rem;
  background-color: black;
  margin: auto;
}

#zenEyeLeftID {
  margin-left: 1rem;
}

#zenNoseID {
  margin-top: 2.2rem;
  margin-left: 1.7rem;
}

#zenEyeRightID {
  margin-left: -0.5rem;
}

.zenMouth {
  width: 0.75rem;
  height: 0.05rem;
  background-color: black;
  margin: auto;
  margin-top: 1rem;
  margin-left: -0.15rem;
}

.journeyScene .ground {
  display: flex;
  width: 100%;
  margin: auto;
  height: 3.9rem;
  margin-top: -1rem;
  background-color: rgb(121, 100, 62);
}

.mountainScene {
  display: inline-flex;
  margin: auto;
}

.mountain {
  display: inline-block;
  float: left;
  margin-top: 15%;
  width: 0;
  height: 0;
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;
  border-bottom: 5rem solid rgb(152, 61, 34);
  box-decoration-break: clone;
  z-index: 4;
}

.smallMountain {
  display: inline-block;
  float: left;
  margin-left: -5%;
  margin-top: -0.5rem;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 2.75rem solid transparent;
  border-right: 2.75rem solid transparent;
  border-bottom: 5.5rem solid rgb(152, 61, 34);
}

#mountainOneID {
  border-bottom: 5rem solid rgb(121, 51, 30);
}

#mountainTwoID {
  border-bottom: 5rem solid rgb(143, 57, 31);
}

#mountainThreeID {
  border-bottom: 5rem solid rgb(112, 50, 31);
  margin-left: -1.25rem;
  z-index: -1;
}

#mountainFourID {
  border-bottom: 5rem solid rgb(132, 55, 31);
  z-index: 1;
}
