#portfolioContainerID {
  /* display: none; */
  opacity: 1;
}

.portfolioTextContainer{
  margin: auto;
  
}

.portfolioExp{
  margin: auto;
}
.coronaHero{
  margin: auto;
    
  display: block;
  /* position:absolute; */
  /* margin-top: -6rem; */
  transform: scale(0.25);
}
.portfolioTextContainer h2{
  color:var(--primary-pink);
  /* margin-top: 15rem; */
  /* margin-left: -0.6rem; */
}

.portfolioTextContainer h3{
  color:var(--primary-pink);
  text-align: left;
  padding: 0.5rem;
  
  /* margin-left: -0.6rem; */
}
.portfolioTextContainer h4{
  color:var(--primary-pink);
  text-align: left;
  padding: 0.5rem;
  
  /* margin-left: -0.6rem; */
}
.portfolioTextContainer p{
  color: var(--light-slate);
  text-align: left;
  display: inline-block;
  padding: 0.5rem;
}

.talkBubble{
  width:7rem;
  height: 3.5rem;
  border-radius: 18px;
  background-color: var(--white);
  margin: 1rem;
  margin-top: -3rem;
  margin-left: -4rem;
  display: flex;
}

.talkBubble p{
  color: black;
  font-weight: bold !important;
  margin: auto;
  text-align: center;

}

.avatarDad p, .avatarMom p{
  color: var(--primary-white);
  font-weight: bolder !important;
  margin-left: -0.25rem;
}




.avatarEdipParagraph{
  margin-top: 4.25rem;
  margin-left: 1.25rem;
  color: white !important;
  font-weight: bolder !important;
  position: absolute;
}

.avatarDadParagraph{
  margin-top: 4.25rem;
  margin-left: 10.5rem;
  color: white !important;
  font-weight: bolder !important;
  position: absolute;
}

.avatarMomParagraph{
  margin-top: 4.25rem;
  margin-left: 15.5rem;
  color: white !important;
  font-weight: bolder !important;
  position: absolute;
}

.avatarCircle{
  width:3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background-color: var(--primary-light-green);
  margin: 1rem;
  /* position: absolute; */
}

.avatarCircle .eyesContainer{
  margin-left: 1.25rem;
  margin-top: 0.5rem;
}

.eyeBrows{
  float: left;

  width:0.75rem;
  height: 0.35rem;
  background-color: var(--primary-brown);
  margin: 0.1rem;
  /* margin-left: -0.25rem; */
}

.eyebrowRightID{
  margin-left: .5rem ;
}
.eyeAvatar{
  float: left;
  width:0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--primary-white);
  margin-left: 0.1rem;
}
.eyePupil{
  width:0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  margin-left:0.25rem;
  margin-top: 0.25rem;
}

.avatarNose{
  width:0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-left:1.9rem;
  margin-top: 1.3rem;
  z-index: 2;
  background-color: var(--primary-purple);

  position: absolute;
}

.leftArmAvatar{
  width:1.15rem;
  height: 1.15rem;
  border-radius: 50%;
  background-color: var(--primary-red);
  margin-top: 0.5rem;
  margin-left: -0.5rem;
}

.rightArmAvatar{
  width:1.15rem;
  height: 1.15rem;
  border-radius: 50%;
  background-color: var(--primary-red);
  margin-top: -2.25rem;
  margin-left: 3.5rem;
}

.leftLegAvatar{
  width: 0.75rem;
  height: 1.5rem;
  transform: rotate(50deg);
  border-radius: 50%;
  background-color: var(--primary-red);
  margin-top: -1.25rem;
  margin-left: -0.25rem;
}

.rightLegAvatar{
  width: 0.75rem;
  height: 1.5rem;
  transform: rotate(50deg);
  border-radius: 50%;
  background-color: var(--primary-red);
  margin-top: 0.15rem;
  margin-left: 2.25rem;
}


.avatarMouth{
  width:0.75rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-left:1.7rem;
  margin-top: 2.5rem;
  background-color: black;
}

.avatarCircle .eyePupil{
  background-color:black;
}


#avatarDad .eyePupil{
  background-color:black;
  height: 0.4rem;
  width: 0.4rem;
  margin: auto;
  margin-top: 0.14rem;
  margin-left: 0.05rem;
}

.avatarDadEyeAvtar{

  background-color: var(--primary-white);

}

#avatarDad .eyeAvatar{
  float: left;
  width:0.6rem;
  height:0.6rem;
  border-radius: 50%;
  margin-right: 0.2rem;
  
}

#avatarDad .eyeBrows{
  margin-left: 0.025rem;
}
#avatarDad .eyesContainer{
  margin-left: 0.75rem;
  margin-right: 0.5rem;
  margin-top: 0.6rem;
}

#avatarDad .avatarNose{
  background-color:var(--primary-purple);
  margin-left: 1.2rem;
}

#avatarDad .avatarMouth{
  margin-left: 1.2rem;
}


#avatarDad{

  background-color: #64e0ff;
  
  margin: 1rem;
  margin-left: 10rem;
  position: absolute;
}

#avatarMom{
 
  background-color: #fcbfdf;
  margin: 1rem;
  margin-left: 15rem;
  position: absolute;
}

#avatarMom .eyeBrows{
  margin-left: 0.025rem;
}

#avatarMom .eyesContainer{
  margin-left: 0.85rem;
  margin-right: 0.5rem;
  margin-top: 0.6rem;
}
#avatarMom .eyeAvatar{
  float: left;
  width:0.6rem;
  height:0.6rem;
  border-radius: 50%;
}

#avatarMom .eyePupil{
  background-color:black;
  height: 0.3rem;
  width: 0.3rem;
  margin: auto;
  margin-top: 0.2rem;
  margin-left: 0.05rem;
}

#avatarMom .avatarNose{
  margin-left: 1.2rem;
  background-color: var(--primary-purple);
}

#avatarMom .avatarMouth{
  border-radius: 0 0 2.0625rem 2.0625rem;
  background: white;
  margin-left: 1.15rem;
  margin-top: 2.5rem;
}

#heroEdipEyesID .eyePupil{
  margin-top: 0.05rem;
  margin-left: 0.3rem;
}

.avatarHeroMouth{
  width:0.75rem;
  height: 0.25rem;
  transform:rotate(-25deg);
  border-radius: 25%;
  margin-left:1.8rem;
  margin-top: 2.65rem;
  background-color: black;
}

.lightYear{
  width: 0.1em;
  height: 5rem;
  background-color: var(--primary-white);
  /* transform: rotate(45deg); */
  /* margin-left:-.5rem; */
  margin-right: -0.25rem;
  margin-top: 3rem;
  /* position: absolute; */
  z-index: -2;
  /* opacity: 0; */
  /* position: absolute; */
}


#headHitWall{
  margin: auto;
}
.wall{
  width: 4rem;
  /* padding: 0.25rem; */
  height: fit-content;
  background-color: var(--dark-slate);
  margin: 1rem;
  z-index: 1;
}


#avatarWall h4{
  text-shadow: 0.15em 0.15rem 0.5rem var(--light-slate);
}

.rainDropTable table tbody{
  border-collapse: collapse;
  margin: auto;
}
.rainDrop {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0 50% 50% 50%;
  border: 3px solid var(--primary-darker-blue);
  background-color: var(--primary-blue);
  transform: rotate(45deg);
  margin-top: 0.5rem;
  opacity: 0;
}

.noDrop{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0 50% 50% 50%;
  border: 3px solid var(--primary-darker-blue);
  background-color: var(--primary-blue);
  transform: rotate(45deg);
  margin-top: 0.5rem;
  opacity: 0;
}

#talkBubbleRegretID{
  margin-left: 8rem;
  margin-top: -0.5rem;
  margin-bottom: -5rem;
  /* z-index: 1; */
}
#avatarRegretID{
  margin-right: 5rem;
}
#avatarRegretID .eyePupil{
  margin-top: -0.1rem;
}

#regretEyeBrowLeftID{
  float: left;

  width:0.75rem;
  height: 0.35rem;
  background-color: var(--primary-brown);
  margin: 0.1rem;
  transform: rotate(-45deg);
  margin-left:-0.25rem
}
#regretEyeBrowRightID{
float: left;
width:0.75rem;
height: 0.35rem;
background-color: var(--primary-brown);
margin: 0.1rem;
transform: rotate(-45deg);
margin-left:0.75rem;
  transform: rotate(45deg);
  /* margin-left:0.75rem; */
}

#talkChallengeID{
  margin-left: 10rem;
  margin-bottom: -3rem;
}

.animContainer{
  margin: auto ;
  width: 95%;
  height: 90%;
  border-width: 0.1rem;
  border-style: solid;
  border-color: var(--primary-pink);
  display: block;
  margin-top: 1rem;
}

.journeyScene{
  width:90%;
  height: 15rem;
  margin: auto;
  display: block;
  background-color: var(--primary-blue);
  z-index: -3;
}
.sunRise{

  width: 5rem;
  height: 5rem;
  transform: scale(0.7);
  margin: auto;
 
  display: block;
  border-radius: 50%;  /* float: left; */
  background-color: #dbd659e6;
  box-shadow: 0rem -1rem 7rem 3.25rem #ffa3059d;
  opacity: 0;
  z-index: -1;

}

.zenBigCircle{
  width: 10rem;
  height: 10rem;
  /* transform: scale(0.7); */
  margin: auto;
  display: flex;
  margin-top: 1.5rem;
 /* justify-content: center; */

  border-radius: 50%;  /* float: left; */
  background-color: #dbd659e6;
  box-shadow: 0rem -1rem 10rem 2rem #ffa3059d;
  opacity: 1;
  /* position: absolute; */
  /* left:45vw; */
  /* z-index: -1; */
}
.zenSmallCircle{
  width: 8rem;
  height: 8rem;
  /* transform: scale(0.7); */


  border-radius: 50%;  /* float: left; */
  background-color: #fdfcd7e6;
  box-shadow: 0rem -1rem 10rem 2rem #fffbf59d;
  opacity: 1
}
.zenAvatarCircle{
  position: absolute;
  display: inline-flex;
  width:3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background-color: var(--primary-light-green);
  margin: 1rem;
  margin: auto;
  margin-left: 0.1rem;
  margin-top: 4.5rem;
}

.zenParagraph{
  margin-top: 2.5rem;
  margin-left: 0.05rem;
}

.zenHand{
  width:.75rem;
  height: .75rem;
  border-radius: 50%;
  background-color: var(--primary-light-green);
  display: inline-block;
  margin-left: 1.75rem;
  margin-bottom: -1rem;
  margin-bottom: -10rem;
  /* transform: rotate(-45deg); */
}
.emptyHandSpace{
  width:.5rem;
  height: .5rem;
  border-radius: 50%;
  margin: auto;
  /* margin-top: 0.1rem; */
  display: flex;
  margin-left: 0.12rem;
  margin-top: 0.15rem;
  background-color: #fdfcd7e6;
}

.zenFinger{
  width:1.25rem;
  height: .25rem;
  background-color: var(--primary-light-green);
  display: inline-flex;
  margin-top: -0.15rem;
}

.zenEyes{
  width: 0.75rem;
  height: 0.05rem;
  background-color: black;
  margin:auto;
}

#zenEyeLeftID{
  margin-left: 1rem;
}

#zenNoseID{
  margin-top: 2.2rem;
  margin-left: 1.7rem;
}

#zenEyeRightID{
  margin-left: -0.5rem;
}

.zenMouth{
  width: 0.75rem;
  height: 0.05rem;
  background-color: black;
  margin:auto;
  margin-top: 1rem;
  margin-left: -0.15rem;
}

.journeyScene .ground{
  display: flex;
  /* position: absolute; */
  width: 100%;
  margin: auto;
  height: 3.8rem;
  margin-top: -1rem;
  /* margin-top: -5rem; */
  background-color: rgb(121, 100, 62);
  
}

.mountainScene{
  display: inline-flex;
  /* position: absolute; */
  margin: auto;
  
  /* margin-top: 20%; */
  
}

.mountain{
  display: inline-block;
  float: left;
  /* margin-left: -10%; */
  margin-top: 15%;
  width: 0; 
  height: 0; 
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;
  border-bottom: 5rem solid rgb(152, 61, 34);
  z-index: 4;
  /* background-color: var(--primary-brown); */
}

.smallMountain{
  display: inline-block;

  float: left;
  margin-left: -5%;
  margin-top: -0.5rem;
  /* margin-top: -20%; */
  position: absolute;
  width: 0; 
  height: 0; 
  border-left: 2.75rem solid transparent;
  border-right: 2.75rem solid transparent;
  border-bottom: 5.5rem solid rgb(152, 61, 34);
}

#mountainOneID{
  border-bottom: 5rem solid rgb(121, 51, 30);
}

#mountainTwoID{
  border-bottom: 5rem solid rgb(143, 57, 31);
}

#mountainThreeID{
  border-bottom: 5rem solid rgb(112, 50, 31);
  margin-left: -1.25rem;
  z-index: -1;
}

#mountainFourID{
  border-bottom: 5rem solid rgb(132, 55, 31);
  z-index: 1;
}
