.btnRefresh {
  background-color: "none";
  border-color: "transparent";
  border: none;
  opacity: 0;
  pointer-events: none;
  display: hidden;
}

.btnPlay {
  background-color: "transparent";
  border-color: var(--primary-light-green);
  /* border: none; */
}

.fntAwesome {
  width: 2rem;
  height: 2rem;
}

.row {
  width: 100%;
}
