/***************** SKILLS *********************/

@media (min-width: 20rem) {
}

@media (min-width: 120rem) {
}

.bg-transparent {
  border: none;
}
.skillContainer {
  margin: auto;
  margin-top: 1rem;
  opacity: 1;
}

#resetSkills {
  border: none;
  background-color: transparent;
  margin: auto;
  /* padding: 0.5rem; */
  scale: 1.5;
  margin-bottom: 1rem;
}

#resetSkills .fntAwesome {
  border-radius: 50%;
  transition: var(--transition);
  margin-top: 1rem !important;
  background-color: var(--lightest-navy);
  border: 0.1rem black solid;
  box-shadow: var(--btnShadow);
}

#resetSkills .fntAwesome:hover {
  color: var(--lightest-slate);
  box-shadow: var(--btnSkillHoverShadow);
}

#resetSkills .fntAwesome:active {
  color: var(--slate);
  box-shadow: var(--btnSkillActiveShadow);
}

ul.a {
  list-style-type: circle;
  color: var(--lightest-slate);
}

#duckContainerID {
  margin-top: 2rem;
  opacity: 1;
}

.skillTable {
  width: 100%;
  table-layout: fixed;
  border-radius: 18px;
  transform: scale(0.95);
  border-collapse: separate;
}

.skillTable tbody p {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

#skillDividerTd {
  width: 15vw !important;
  height: 0.5rem !important;
  margin: auto !important;

  border-radius: 10px !important;
  opacity: 1;
}

.skillPoint {
  height: 1rem;
  margin-left: -5rem;
}
button .skillCategory {
  padding: 0;
  margin: 0;
}
.skillCategory {
  padding: 0.35rem !important;
  margin: 0.25rem !important;
  width: fit-content;

  opacity: 1;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  border-radius: 18px;
  border: 0.1rem solid black;
  transition: var(--transition);
  box-shadow: var(--menuBtnSkillShadow);
}

.skillCategory:hover {
  box-shadow: var(--btnSkillHoverShadow);
  /* border: none; */
}

.skillCategory:active {
  box-shadow: var(--btnSkillActiveShadow);
  /* opacity: 0.75;
  border: 0.3rem solid var(--lightest-slate); */
  /* box-shadow: 0 0.2rem var(--lightest-navy); */
}
/* 
.shadowAnimation {
  animation-duration: 1.75s;
  animation-name: animateShadow;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.shadowAnimation_2 {
  animation-duration: 1.75s;
  animation-delay: 0.75s;
  animation-name: animateShadow;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.shadowAnimation_3 {
  animation-duration: 1.75s;
  animation-delay: 1.5s;
  animation-name: animateShadow;
  animation-direction: alternate;
  animation-iteration-count: infinite;
} */

@keyframes animateShadow {
  from {
    box-shadow: 0 0.5rem var(--dark-slate);
    scale: 1;
    opacity: 1;
  }

  to {
    box-shadow: 0 0rem var(--dark-slate);
    scale: 0.95;
    opacity: 0.75;
  }
}

.skillPointPelar {
  height: 3rem;
  width: 1.75rem;
  background-color: var(--primary-lightGrey);
  position: relative;
  margin: auto;
  z-index: 2;
  border-radius: 10px;
}

.skillPointGround {
  padding: 0% !important;
  /* margin: 3% !important; */
  color: var(--lightest-slate);
  border-radius: 5px;
  /* text-transform: uppercase; */
  width: fit-content;
  margin: auto !important;
  /* color: var(--tint-navy) !important; */
}

tr > td > .sectionLine {
  margin-bottom: 0.25rem !important;
  background-color: var(--dark-slate) !important;
  height: 0.25rem;
  width: 100%;
}

.emptyPointGround {
  background-color: var(--primary-lightDarkGrey);
  position: relative;
  padding: 0.3rem;
  margin: auto;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  font-weight: 500;
  color: var(--primary-white);
}

.skill {
  background-color: var(--primary-blue);
  width: 85%;
  margin: auto;
  margin-top: 0.5rem;
  padding: 0.3rem !important;
  opacity: 1;
  border-radius: 18px;
  text-align: center !important;
  font-weight: 700 !important;
}

.frontEndTheme {
  background-color: rgb(31, 62, 114) !important;
  color: var(--primary-white) !important;
}

.backEndTheme {
  background-color: rgb(82, 89, 142) !important;
  color: var(--primary-white) !important;
}

.rolesTheme {
  background-color: rgb(80, 117, 185) !important;
  color: var(--primary-white) !important;
}

.duckContainer {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}
.duckText {
  margin: auto;
  text-align: left;
  color: var(--light-slate);
  margin-top: 16rem;
  display: block;
  width: 90%;
  max-width: 35rem;
  padding: 0;
}

.seiouslyText {
  margin: auto;
  text-align: left;
  font-size: "0.8375rem";
  font-weight: "625";
  color: var(--light-slate);
  display: inline-block;
}

ul.skillBullet {
  list-style-type: disc;
  list-style: var(--primary-blue);
}
