@media (min-width: 60rem) {
  :root {
    --size-familyDivisor: 2.75;
  }
 
  .testimonials-content {
     max-width: 75vw !important; 
  } 
}

.testimonials {
  background-size: cover;
  text-align: center;
  padding-bottom: 4rem;
  margin: auto;
  width: fit-content;
}

.testimonials-content {
  text-align: center;
  max-width: 90vw;
  height: max-content;
  margin: auto;
  margin-top: -2rem;
  background: none;
  transform:  (0.95);
}

.myCarousel {
  color: var(--primary-white);
  background: transparent;
  /* margin-top: -6%; */
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 17.875rem;
}

.testimonials h2 {
  color: var(--primary-orange);
}

.testimonials p {
  color: var(--primary-white);
  font-size: large !important;
  margin: auto !important;
  padding-left: 1rem;
  padding-right: 1rem;
}

.carousel .slide img {
  width: 10rem !important;
  margin-top: 2rem;
}

.carousel .slide {
  background: transparent !important;
  height: 100% !important;
  padding-top: 2rem;
  margin-bottom: 7rem !important;
}
.carousel .control-dots {
  background: var(--primary-orange) !important;
  margin-bottom: 3.5rem !important;
  height: 2.25rem !important;
  justify-content: center !important;
  align-content: center !important;
}

.carousel-root {
  margin: auto !important;
  margin-top: 1% !important;
}
.carousel .control-prev.control-arrow:before {
  border-right: 0.75rem solid var(--primary-white) !important;
}

.carousel .control-next.control-arrow:before {
  border-left: 0.75rem solid var(--primary-white) !important;
}

.carousel .control-dots .dot{
  opacity: 0.6;
  margin-top: 0.75rem;
}

.containerSlide {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  right: 0;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 22rem;
  max-width: initial;
  margin: auto;
  /* padding: 1rem; */
}

.containerSlide h2{
  margin-bottom: 0;
  margin-top: 1rem;
}

.basketContainer {
  background: var(--primary-blue);
  height: 25rem;
  margin-top: 2rem;
  z-index: -2;
}

.starWarsBg {
background-color: black;
overflow-x: hidden;
}

.stars{
  margin: auto;
  z-index: -30 !important;
  margin-top: 10rem;
  height: 1px;
  width: 1px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -21rem -15rem 1px 2px #fff,5rem -13rem 2px 2px #fff,0rem -13rem 0px 3px #fff,-1rem -1rem 3px 3px #fff,-9rem -15rem 1px 2px #fff,27rem -3rem 0px 2px #fff,4rem -4rem 2px 3px #fff,-14rem -5rem 2px 0px #fff,19rem -12rem 0px 3px #fff,-20rem -11rem 3px 3px #fff,28rem -4rem 3px 1px #fff,-15rem -4rem 0px 2px #fff,-24rem 11rem 1px 2px #fff,11rem 3rem 1px 2px #fff,-3rem 3rem 2px 3px #fff,-9rem 8rem 1px 3px #fff,-30rem -6rem 1px 3px #fff,4rem 14rem 0px 0px #fff,-27rem 10rem 1px 0px #fff,17rem -5rem 2px 0px #fff,-30rem 14rem 3px 3px #fff,-18rem 0rem 0px 2px #fff,23rem 8rem 3px 0px #fff,-2rem -3rem 3px 1px #fff,-23rem 4rem 0px 2px #fff,5rem -11rem 0px 3px #fff,-3rem -13rem 3px 1px #fff,7rem 4rem 3px 2px #fff,4rem 10rem 1px 2px #fff,-7rem -10rem 1px 3px #fff,-6rem 11rem 0px 3px #fff,13rem -8rem 3px 2px #fff,19rem -11rem 0px 2px #fff,-26rem -13rem 1px 0px #fff,6rem -12rem 2px 3px #fff,-21rem -14rem 3px 1px #fff,25rem -2rem 0px 0px #fff,-17rem -12rem 0px 3px #fff,-25rem -13rem 1px 0px #fff,28rem -15rem 0px 3px #fff,26rem 2rem 0px 1px #fff,9rem -10rem 1px 2px #fff,24rem -1rem 3px 1px #fff,-2rem -12rem 0px 1px #fff,7rem -4rem 1px 0px #fff,9rem 14rem 3px 0px #fff,-26rem -9rem 0px 3px #fff,-26rem -9rem 0px 1px #fff,-21rem -12rem 3px 3px #fff,-27rem -4rem 2px 1px #fff,24rem 4rem 3px 1px #fff,-3rem 4rem 0px 2px #fff,21rem -14rem 3px 2px #fff,3rem -14rem 0px 1px #fff,-7rem -6rem 1px 3px #fff,9rem -6rem 0px 1px #fff,0rem 1rem 1px 0px #fff,30rem 11rem 3px 1px #fff,-19rem 8rem 0px 3px #fff,2rem -2rem 3px 3px #fff,4rem -5rem 3px 3px #fff,13rem -11rem 2px 2px #fff,3rem 14rem 2px 2px #fff,11rem 8rem 3px 1px #fff,-7rem 0rem 1px 1px #fff,26rem -10rem 3px 0px #fff,12rem -3rem 1px 1px #fff,16rem 8rem 1px 1px #fff,21rem -9rem 3px 0px #fff,15rem -2rem 1px 2px #fff,4rem -14rem 2px 3px #fff,11rem 8rem 0px 2px #fff,-26rem -12rem 1px 1px #fff,-16rem 2rem 1px 2px #fff,4rem -10rem 1px 3px #fff,28rem 6rem 3px 1px #fff,-23rem 12rem 3px 3px #fff,5rem 13rem 2px 0px #fff,12rem 13rem 2px 0px #fff,-14rem -10rem 0px 2px #fff,-25rem 15rem 2px 3px #fff,25rem 7rem 2px 1px #fff,12rem -2rem 1px 2px #fff,9rem -5rem 1px 0px #fff,15rem -11rem 3px 2px #fff,-30rem -5rem 2px 3px #fff,-20rem 0rem 1px 0px #fff,-12rem -7rem 1px 1px #fff,20rem -3rem 1px 2px #fff,17rem 11rem 0px 2px #fff,9rem 4rem 3px 0px #fff,4rem 6rem 0px 1px #fff,-21rem 2rem 0px 0px #fff,-22rem -5rem 3px 3px #fff,-16rem 15rem 0px 2px #fff,-9rem -8rem 2px 3px #fff,-6rem -7rem 0px 2px #fff,-4rem 10rem 0px 0px #fff,27rem -8rem 2px 1px #fff,5rem 6rem 2px 0px #fff;
}



.flag-holder {
  width: 25%;
  height: 25%;
}

.flagContainer {
  display: inline-block;
  margin-left: -4rem;
}

.cityHall {
  transform: scale(1.5);
  margin: auto;
  display: block;
}
