.marioContainer {
  opacity: 1;
  /* position: absolute; */
  margin-bottom: 5rem;
  margin: auto;
  width: fit-content;
  /* top: -3.5rem; */
  /* z-index: 1; */
  position: absolute;
}
.marioHead, .marioFace, .marioBody{
  display: block;

}


.marioCap{
  /* overflow: hidden; */
}

/* .marioBody{
  background-color: blue;
  width: 100%;
  height: fit-content;
  outline: 1px solid red;

} */

.marioArmLeft{
  margin-top: 8.85rem;
  left:-.3rem;
  z-index: 2;
  position: absolute;

}


.marioArmRight{
  margin-top: 8.85rem;
  left:10rem;
  z-index: -1;
  position: absolute;
}
/* 
.marioLegShoeLeft{
  width: fit-content;
  height: f;
} */
.marioLegLeft{
  height: min-content;
  top: 13rem;
  left:.9rem;
  z-index: 2;
  position: absolute;
  width: fit-content;
}

.marioLegRight{
  height: min-content;

  top: 13rem;
  left:7.9rem;
  z-index: 2;
  position: absolute;
}

.marioShoeLeft{
  height: min-content;

  top: 15.25rem;
  left:-.35rem;
  z-index: 2;
  position: absolute;
}

.marioShoeRight{
  height: min-content;

  top: 15.25rem;
  left:9rem;
  z-index: 2;
  position: absolute;
}

.emptyMario{
  float: left;
  width: 1rem;
  height: 1rem;
}
.marioRed{
  float: left;
 width: 1rem;
  height: 1rem;
  background-color: red;
  border-color: black;
  border-width: 0.001rem;
  border-style: solid;
}


.marioBlue {
  float: left;
 width: 1rem;
  height: 1rem;
  background-color: blue;
  border-color: black;
  border-width: 0.001rem;
  border-style: solid;

}

.marioYellow{
  float: left;
 width: 1rem;
  height: 1rem;
  background-color: yellow;
  border-color: black;
  border-width: 0.001rem;
  border-style: solid;
}

.marioBrown{
  float: left;
 width: 1rem;
  height: 1rem;
  background-color: rgb(100, 51, 1);
  border-color: black;
  border-width: 0.001rem;
  border-style: solid;
}


.marioSkin{
  float: left;
 width: 1rem;
  height: 1rem;
  background-color: rgb(252, 195, 151);
  border-color: black;
  border-width: 0.001rem;
  border-style: solid;
}

.marioBrownNoFLoat{
  width: 1rem;
  height: 1rem;
  background-color: rgb(100, 51, 1);
  border-color: black;
  border-width: 0.001rem;
  border-style: solid;
}

.marioRedNoFLoat{
  width: 1rem;
  height: 1rem;
  background-color: red;
  border-color: black;
  border-width: 0.001rem;
  border-style: solid;
}

.marioBlueNoFLoat{
  width: 1rem;
  height: 1rem;
  background-color: blue;
  border-color: black;
  border-width: 0.001rem;
  border-style: solid;
}

.marioSkinNoFLoat{
  width: 1rem;
  height: 1rem;
  background-color: rgb(252, 195, 151);
  border-color: black;
  border-width: 0.001rem;
  border-style: solid;
}

.emptyMarioNoFloat{
  width: 1rem;
  height: 1rem;
}

.marioEye{
  float: left;
 width: 1rem;
  height: 1rem;
  background-color: rgb(100, 51, 1);
  border-color: black;
  border-width: 0.001rem;
  border-style: solid;
}


