    :root {
        --size-edipHeadDivisor: 1.5;
    }

    @media (min-width: 15rem) {
        :root {
            --size-edipHeadDivisor: 6;
        }
      
    }

    
    
    @media (min-width: 20rem) {
        :root {
            --size-edipHeadDivisor: 5;
        }
      
    }


    @media (min-width: 25rem) {
        :root {
            --size-edipHeadDivisor: 5;
        }

   
    
    }
    


    @media (min-width: 36rem) {
    :root {
        --size-edipHeadDivisor: 3;
    }
 
    }

    
    @media (min-width: 48rem) {
    :root {
        --size-edipHeadDivisor: 5.5;
    }

    }


    @media (min-width: 62rem) { 
    :root {
        --size-edipHeadDivisor: 3.5;
    }

    

   
    }
    @media (min-width: 75rem) { 
    :root {
        --size-edipHeadDivisor: 2.75;
    }
    }


    @media (min-width: 80rem) { 
        :root {
            --size-edipHeadDivisor:2.25;
        }

        #tableHeadID{
            margin-top: 3rem;
        }

    }
    
    
    @media (min-width: 160rem) { 
        :root {
            --size-edipHeadDivisor:1.7;
        }

        #tableHeadID{
            margin-top: 5rem;
        }

    }

    

    

        #tableHeadID
        {
        transform:scale(calc(2.25 / var( --size-edipHeadDivisor))) ;
        position: absolute;
        display: flex;
        margin: auto;
        margin-left: 2%;
        margin-top: 5rem;
       
        }

       

        .wrapper {
            display: table-cell;
            vertical-align: middle;
            position: relative;
        }

        .edipHeadbackground-circle {
            width: 26.25rem;
            height: 26.25rem;
            border-radius: 100%;
            overflow: hidden;
            background: transparent; 
            
            position: relative;
            margin-left: -5%;
        
            transform-origin: center;
        }

        
        
        .body {
            width: 80%;
            font-family: 'Open Sans', sans-serif;
            height: 37.5rem;
            margin: 0 auto;
            background: #222;
            border-radius: 6.25rem;
            position: relative;
            top: 12.5rem;
            margin-bottom: 5%;
            animation: body-enter 0.7s 0.2s 1 ease;
            animation-fill-mode: forwards;
            -webkit-animation: body-enter 0.7s 0.2s 1 ease;
            -webkit-animation-fill-mode: forwards;
            -webkit-transform: scale(0) translateZ(0);
            transform: scale(0) translateZ(0);
        }

        .edipHead {
            width: 50%;
            height: 42%;
            border-radius: 3.125rem;
            background: #FFE4BE;
            position: absolute;
            top: 70%;
            left: 50%;
            margin-top: -58%;
            margin-left: -29%;
            animation: grow 0.7s 0.4s 1 ease;
            -webkit-animation: grow 0.7s 0.4s 1 ease;
            /*
        animation:grow 0.7s 0.4s 1 ease;
        -webkit-animation:grow 0.7s 0.4s 1 ease;
    */
            transform-origin: bottom;
            -webkit-transform-origin: bottom;
            -webkit-transform: scale(0) translateZ(0);
            transform: scale(0) translateZ(0);
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }



        .hair-main {
            width: 13.75rem;
            height: 0rem;
            background: #3f2a14;
            border-radius: 3.375rem 3.375rem 0rem 0rem;
            margin-left: -4%;
            margin-top: -0.625rem;
            animation: hair-anim 0.7s 0.9s 1 ease;
            animation-fill-mode: forwards;
            -webkit-animation: hair-anim 0.7s 0.9s 1 ease;
            -webkit-animation-fill-mode: forwards;
            position: relative;
            z-index: 2;
        }

        .hair-ball {
            height: 4.0625rem;
            width: 4.0625rem;
            background: #FCB040;
            margin-top: -12.8125rem;
            border-bottom-left-radius: 40%;
            border-bottom-right-radius: 40%;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            display: inline-block;
        }

        .hair-band {
            height: .625rem;
            width: 1.875rem;
            background: #000000;
            margin-top: -26.25rem;
            display: inline-block;
            position: relative;
        }



        .hair-sling-left {
            width: 2.1875rem;
            height: .3125rem;
            margin-left: -1.5625rem;
            margin-top: -1.3125rem;
            background: #FCB040;
            border-radius: 3.125rem 0rem 4.375rem 0rem;
            animation: beard-anim 0.7s 0.9s 1 ease;
            animation-fill-mode: forwards;
            -webkit-animation: hair-anim 0.7s 0.9s 1 ease;
            -webkit-animation-fill-mode: forwards;
            position: relative;
            z-index: 3;
        }

        .hair-sling-right {
            width: 2.1875rem;
            height: .125rem;
            right: -11.75rem;
            top: -8.125rem;
            background: #FCB040;
            border-radius: 0rem 3.125rem 0rem 4.375rem;
            animation: beard-anim 0.7s 0.9s 1 ease;
            animation-fill-mode: forwards;
            -webkit-animation: hair-anim 0.7s 0.9s 1 ease;
            -webkit-animation-fill-mode: forwards;
            position: relative;
            z-index: 3;
        }



        .beard {
            width: 13.75rem;
            height: 0rem;
            background: #3f2a14;
            border-radius: .3125rem 0rem 3.375rem 3.375rem;
            margin-left: -4%;
            margin-top: -0.125rem;
            animation: beard-anim 0.7s 0.9s 1 ease;
            animation-fill-mode: forwards;
            -webkit-animation: beard-anim 0.7s 0.9s 1 ease;
            -webkit-animation-fill-mode: forwards;
            position: relative;
            z-index: 2;
        }

    .cupSteamContainerTable{
    margin-left:5rem;
    margin-top:1rem;
    }

        .steam-container {
            width: 3.75rem;
            height: 3.125rem;
        }

        .coffee-container {
            width: 6.25rem;
            height: 6.25rem;
            position: relative;
        }

        .coffee-cup {
            width: 5rem;
        }

        .squiggle-container {
            width: .625rem;
            height: 1.875rem;
            display: inline-block;
        }

        .squiggle-container-1 {
            transform: translateY(.625rem);
            animation: move-and-fade 4s infinite ease-in-out ;
            animation-fill-mode: forwards;
    }

    .squiggle-container-2 {
        transform: translateY(0rem);
        animation: move-and-fade 4s infinite ease-in-out ;
        animation-fill-mode: forwards;
    }

    .squiggle-container-3 {
        transform: translateY(.9375rem);
        animation: move-and-fade 4s infinite ease-in-out ;
            animation-fill-mode: forwards;
    }




    .squiggle {
        stroke-dasharray: 100;
        

    }
    .steamPath{
        fill:none;stroke-width:10;stroke:#fff;
    }

    .cupA
    {
        fill:#fe6155;
    }

    .cupB{
        fill:#5d5d5d;
        transform:translate(0 -0.06);
    }

    .right-hand {
        background-color: #FFE4BE;
        height: 3.125rem;
        width: 3.125rem;
        margin-top: -3.75rem;
        margin-left: 60%;
        border-radius: 50%;
    }

    .left-hand {
        border-radius: 50%;
        background-color: #FFE4BE;
        height: 3.125rem;
        width: 3.125rem;
        margin-top: -1.875rem;
        margin-left:5%;
    }

    .left-handBasket{
        border-radius: 50%;
        background-color: #FFE4BE;
        height: 3.5rem;
        width: 3.5rem;
        margin-left:-45%;
        z-index: 500; 
    }


        .hair-bottom {
            width: 3.375rem;
            height: 3.125rem;
            opacity: 0;
            border-bottom-left-radius: 1.5625rem;
            background: #E7AB57;
            position: relative;
            top: -1.25rem;
            left: 50%;
            transform: translateX(-1.6875rem);
            -webkit-transform: translateX(-1.6875rem);
            transform-origin: left;
            -webkit-transform-origin: left;
            animation: hair-bottom-anim 0.7s 1.4s 1 ease;
            -webkit-animation: hair-bottom-anim 0.7s 1.4s 1 ease;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
        }


        .face {
            width: 11.25rem;
            height: 0rem;
            border-radius: 3rem 3rem 0 0;
            background: #FFE4BE;
            position: absolute;
            top: 2.1875rem;
            left: .5rem;
            margin-left: 2%;
            animation: hair-anim 0.1s 0.8s 1 linear;
            animation-fill-mode: forwards;
            -webkit-animation: hair-anim 0.1s 0.8s 1 linear;
            -webkit-animation-fill-mode: forwards;
            z-index: 3;
        }

        .headacheTriangle {
            position: absolute;
            width: 0;
            height: 0;
            margin-left: 12.5rem;
            border-top: 2.5rem solid #ffd800;
            border-left: .3125rem solid transparent;
            border-right: 1.25rem solid transparent;
            transform: rotate(20deg);
            display: block;
        }

        .headacheParallelogram {
            width: 1.5625rem;
            height: 2.0625rem;
            margin-left: 12.5rem;
            transform: skew(140deg);
            background: #ffd800;
            margin-bottom: -0.625rem;
        }



        .nose {
            background: #E7AB57;
            width: 1.25rem;
            height: 2.8125rem;
            opacity: 1;
            background: E7AB57;
            border-radius: 2.125rem;
            position: absolute;
            left: 50%;
            top: 5rem;
            margin-left: -0.625rem;
            animation: shadow-anim 0.7s 3s 1 ease;
            animation-fill-mode: forwards;
            -webkit-animation: shadow-anim 0.7s 3s 1 ease;
            -webkit-animation-fill-mode: forwards;
            opacity: 0;
            z-index: 5;
        }

        .ear {
            width: 1.5rem;
            height: 2.1875rem;
            background: #FFE4BE;
            border-radius: .75rem;
            position: absolute;
            top: 7.25rem;
            animation: grow 0.7s 1.3s 1 ease;
            animation-fill-mode: forwards;
            -webkit-animation: grow 0.7s 1.3s 1 ease;
            -webkit-animation-fill-mode: forwards;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        .mouth {
            width: 4.125rem;
            height: 2.0625rem;
            border-radius: 0 0 2.0625rem 2.0625rem;
            background: white;
            position: absolute;
            top: 9.375rem;
            left: 50%;
            margin-left: -2.0625rem;
            animation: grow 0.7s 2.6s 1 ease;
            animation-fill-mode: forwards;
            -webkit-animation: grow 0.7s 2.6s 1 ease;
            -webkit-animation-fill-mode: forwards;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        

        .eye-shadow {
            width: 1.875rem;
            height: .9375rem;
            border-radius: 0 0 .9375rem .9375rem;
            background: rgba(149,36,0,0.1);
            position: absolute;
            top: 4.375rem;
            animation: grow 0.7s 2s 1 ease;
            animation-fill-mode: forwards;
            -webkit-animation: grow 0.7s 2s 1 ease;
            -webkit-animation-fill-mode: forwards;
            -webkit-transform: scale(0);
            transform: scale(0);
        }



            .eye-shadow#left {
                left: 2.1875rem;
                z-index: 5;
            }

            .eye-shadow#right {
                right: 2.1875rem;
            }

        .headEyebrow {
            width: 2.5rem;
            height: .625rem;
            background: #3f2a14;
            position: absolute;
            top: -2.1875rem;
            left: 50%;
            margin-left: -1.25rem;
            opacity: 0;
            -webkit-backface-visibility: hidden;
        }



        .eye-shadow#left .headEyebrow {
            animation: eyebrow-anim-left 0.7s 2.2s 1 ease;
            animation-fill-mode: forwards;
            -webkit-animation: eyebrow-anim-left 0.7s 2.2s 1 ease;
            -webkit-animation-fill-mode: forwards;
        }

        .eye-shadow#right .headEyebrow {
            animation: eyebrow-anim-right 0.7s 2.2s 1 ease;
            animation-fill-mode: forwards;
            -webkit-animation: eyebrow-anim-right 0.7s 2.2s 1 ease;
            -webkit-animation-fill-mode: forwards;
        }

        .eye {
            width: 1.25rem;
            height: 1.75rem;
            border-radius: .625rem;
            background: #654921;
            position: absolute;
            top: -1.125rem;
            left: 50%;
            margin-left: -0.625rem;
            animation: grow 0.7s 2.2s 1 ease;
            animation-fill-mode: forwards;
            -webkit-animation: grow 0.7s 2.2s 1 ease;
            -webkit-animation-fill-mode: forwards;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transform-origin: bottom;
            transform-origin: bottom;
        }

        .shadow-wrapper {
            width: 6.125rem;
            height: 16.25rem;
            position: absolute;
            left: -0.5rem;
            bottom: -5.25rem;
            z-index: 4;
            overflow: hidden;
        }

        .shadow {
            width: 6.125rem;
            height: 16.25rem;
            border-radius: 3.125rem;
            background: rgba(149,36,0,0.1);
            position: absolute;
            z-index: 4;
            opacity: 0;
            animation: shadow-anim 1s 2.8s 1 ease;
            animation-fill-mode: forwards;
            -webkit-animation: shadow-anim 1s 2.8s 1 ease;
            -webkit-animation-fill-mode: forwards;
        }

        .triangle-light {
            width: 25rem;
            height: 37.5rem;
            background: #FFFFFF;
            opacity: 0.2;
            position: absolute;
            right: -65%;
            animation: triangle-light-anim 1s 2.8s 1 ease;
            animation-fill-mode: forwards;
            -webkit-animation: triangle-light-anim 1s 2.8s 1 ease;
            -webkit-animation-fill-mode: forwards;
            -webkit-transform: translate(12.5rem,0rem);
            transform: translate(12.5rem,0rem);
        }

        .triangle-dark {
            width: 25rem;
            height: 37.5rem;
            background: #000000;
            opacity: 0.2;
            position: absolute;
            left: -60%;
            top: 30%;
            animation: triangle-dark-anim 1s 3s 1 ease;
            animation-fill-mode: forwards;
            -webkit-animation: triangle-dark-anim 1s 3s 1 ease;
            -webkit-animation-fill-mode: forwards;
            -webkit-transform: translate(-12.5rem,0rem);
            transform: translate(-12.5rem,0rem);
        }


        .shirt-text {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            color: white;
            position: relative;
            top: -25rem;
            font-size: 3.125rem;
            display: inline-block;
            -webkit-text-stroke: .125rem;
            -webkit-transform: translate(0rem,6.25rem);
            transform: translate(0rem,6.25rem);
            animation-fill-mode: forwards !important;
            -webkit-animation-fill-mode: forwards !important;
        }



            .shirt-text:nth-of-type(1) {
                animation: text-anim 0.7s 3s 1 ease;
                -webkit-animation: text-anim 0.7s 3s 1 ease;
            }

            .shirt-text:nth-of-type(2) {
                color: #EF4136;
                animation: text-anim 0.7s 3.1s 1 ease;
                -webkit-animation: text-anim 0.7s 3.1s 1 ease;
            }

            .shirt-text:nth-of-type(3) {
                animation: text-anim 0.7s 3.2s 1 ease;
                -webkit-animation: text-anim 0.7s 3.2s 1 ease;
            }

            .shirt-text:nth-of-type(4) {
                animation: text-anim 0.7s 3.3s 1 ease;
                -webkit-animation: text-anim 0.7s 3.3s 1 ease;
            }

            .shirt-text:nth-of-type(5) {
                animation: text-anim 0.7s 3.4s 1 ease;
                -webkit-animation: text-anim 0.7s 3.4s 1 ease;
            }

        @keyframes grow {
            0% {
                position: absolute;
                -webkit-transform: scale(0) translateZ(0);
                transform: scale(0) translateZ(0);
            }

            60% {
                -webkit-transform: scale(1.15) translateZ(0);
                transform: scale(1.15) translateZ(0);
            }

            80% {
                -webkit-transform: scale(0.95) translateZ(0);
                transform: scale(0.95) translateZ(0);
            }

            100% {
                -webkit-transform: scale(1) translateZ(0);
                transform: scale(1) translateZ(0);
            }
        }

        @-webkit-keyframes grow /* Safari and Chrome */
        {
            0% {
                position: absolute;
                -webkit-transform: scale(0) translateZ(0);
                transform: scale(0) translateZ(0);
            }

            60% {
                -webkit-transform: scale(1.15) translateZ(0);
                transform: scale(1.15) translateZ(0);
            }

            80% {
                -webkit-transform: scale(0.95) translateZ(0);
                transform: scale(0.95) translateZ(0);
            }

            100% {
                -webkit-transform: scale(1) translateZ(0);
                transform: scale(1) translateZ(0);
            }
        }

        @keyframes body-enter {
            0% {
                -webkit-transform: translateY(12.5rem) translateZ(0);
                transform: translateY(12.5rem) translateZ(0);
            }

            60% {
                -webkit-transform: translateY(-1.25rem) translateZ(0);
                transform: translateY(-1.25rem) translateZ(0);
            }

            80% {
                -webkit-transform: translateY(1.875rem) translateZ(0);
                transform: translateY(1.875rem) translateZ(0);
            }

            100% {
                -webkit-transform: translateY(0rem) translateZ(0);
                transform: translateY(0rem) translateZ(0);
            }
        }

        @-webkit-keyframes body-enter /* Safari and Chrome */
        {
            0% {
                -webkit-transform: translateY(12.5rem) translateZ(0);
                transform: translateY(12.5rem) translateZ(0);
            }

            60% {
                -webkit-transform: translateY(-1.25rem) translateZ(0);
                transform: translateY(-1.25rem) translateZ(0);
            }

            80% {
                -webkit-transform: translateY(1.875rem) translateZ(0);
                transform: translateY(1.875rem) translateZ(0);
            }

            100% {
                -webkit-transform: translateY(0rem) translateZ(0);
                transform: translateY(0rem) translateZ(0);
            }
        }

        @keyframes hair-anim {
            0% {
                height: 0rem;
                -webkit-transform: translateY(8.5625rem) translateZ(0);
                transform: translateY(8.5625rem) translateZ(0);
            }

            100% {
                height: 8.5625rem;
                -webkit-transform: translateY(0rem) translateZ(0);
                transform: translateY(0rem) translateZ(0);
            }
        }

        @-webkit-keyframes hair-anim /* Safari and Chrome */
        {
            0% {
                height: 0rem;
                -webkit-transform: translateY(8.5625rem) translateZ(0);
                transform: translateY(8.5625rem) translateZ(0);
            }

            100% {
                height: 8.5625rem;
                -webkit-transform: translateY(0rem) translateZ(0);
                transform: translateY(0rem) translateZ(0);
            }
        }



        @keyframes beard-anim {
            0% {
                height: 0rem;
                -webkit-transform: translateY(8.5625rem) translateZ(0);
                transform: translateY(8.5625rem) translateZ(0);
            }

            100% {
                height: 8.5625rem;
                -webkit-transform: translateY(0rem) translateZ(0);
                transform: translateY(0rem) translateZ(0);
            }
        }

        @-webkit-keyframes hair-anim /* Safari and Chrome */
        {
            0% {
                height: 0rem;
                -webkit-transform: translateY(8.5625rem) translateZ(0);
                transform: translateY(8.5625rem) translateZ(0);
            }

            100% {
                height: 8.5625rem;
                -webkit-transform: translateY(0rem) translateZ(0);
                transform: translateY(0rem) translateZ(0);
            }
        }

        @keyframes sideburn-anim {
            0% {
                opacity: 0;
                -webkit-transform: translateY(-1.5625rem) translateZ(0);
                transform: translateY(-1.5625rem) translateZ(0);
            }

            100% {
                opacity: 1;
                -webkit-transform: translateY(0rem) translateZ(0);
                transform: translateY(0rem) translateZ(0);
            }
        }

        @-webkit-keyframes sideburn-anim /* Safari and Chrome */
        {
            0% {
                opacity: 0;
                -webkit-transform: translateY(-1.5625rem) translateZ(0);
                transform: translateY(-1.5625rem) translateZ(0);
            }

            100% {
                opacity: 1;
                -webkit-transform: translateY(0rem) translateZ(0);
                transform: translateY(0rem) translateZ(0);
            }
        }

        @keyframes hair-top-anim {
            0% {
                opacity: 0;
                -webkit-transform: translate(-4rem, 1.875rem) translateZ(0);
                transform: translate(-4rem, 1.875rem) translateZ(0);
            }

            60% {
                opacity: 1;
                -webkit-transform: rotate(0deg) translate(-4rem, 1.875rem) translateZ(0);
                transform: rotate(0deg) translate(-4rem, 1.875rem) translateZ(0);
            }

            80% {
                opacity: 1;
                -webkit-transform: rotate(10deg) translate(-4rem, -0.3125rem) translateZ(0);
                transform: rotate(10deg) translate(-4rem, -0.3125rem) translateZ(0);
            }

            100% {
                opacity: 1;
                -webkit-transform: rotate(0deg) translate(-4rem, 0rem) translateZ(0);
                transform: rotate(0deg) translate(-4rem, 0rem) translateZ(0);
            }
        }

        @-webkit-keyframes hair-top-anim /* Safari and Chrome */
        {
            0% {
                opacity: 0;
                -webkit-transform: translate(-4rem, 1.875rem) translateZ(0);
                transform: translate(-4rem, 1.875rem) translateZ(0);
            }

            60% {
                opacity: 1;
                -webkit-transform: rotate(0deg) translate(-4rem, 1.875rem) translateZ(0);
                transform: rotate(0deg) translate(-4rem, 1.875rem) translateZ(0);
            }

            80% {
                opacity: 1;
                -webkit-transform: rotate(10deg) translate(-4rem, -0.3125rem) translateZ(0);
                transform: rotate(10deg) translate(-4rem, -0.3125rem) translateZ(0);
            }

            100% {
                opacity: 1;
                -webkit-transform: rotate(0deg) translate(-4rem, 0rem) translateZ(0);
                transform: rotate(0deg) translate(-4rem, 0rem) translateZ(0);
            }
        }

        @keyframes hair-bottom-anim {
            0% {
                opacity: 0;
                -webkit-transform: translate(-1.6875rem, -2.5rem) translateZ(0);
                transform: translate(-1.6875rem, -2.5rem) translateZ(0);
            }

            60% {
                opacity: 1;
                -webkit-transform: rotate(0deg) translate(-1.6875rem, -2.5rem) translateZ(0);
                transform: rotate(0deg) translate(-1.6875rem, -2.5rem) translateZ(0);
            }

            80% {
                opacity: 1;
                -webkit-transform: rotate(10deg) translate(-1.6875rem, .3125rem) translateZ(0);
                transform: rotate(10deg) translate(-1.6875rem, .3125rem) translateZ(0);
            }

            100% {
                opacity: 1;
                -webkit-transform: rotate(0deg) translate(-1.6875rem, 0rem) translateZ(0);
                transform: rotate(0deg) translate(-1.6875rem, 0rem) translateZ(0);
            }
        }

        @-webkit-keyframes hair-bottom-anim /* Safari and Chrome */
        {
            0% {
                opacity: 0;
                -webkit-transform: translate(-1.6875rem, -2.5rem) translateZ(0);
                transform: translate(-1.6875rem, -2.5rem) translateZ(0);
            }

            60% {
                opacity: 1;
                -webkit-transform: rotate(0deg) translate(-1.6875rem, -2.5rem) translateZ(0);
                transform: rotate(0deg) translate(-1.6875rem, -2.5rem) translateZ(0);
            }

            80% {
                opacity: 1;
                -webkit-transform: rotate(10deg) translate(-1.6875rem, .3125rem) translateZ(0);
                transform: rotate(10deg) translate(-1.6875rem, .3125rem) translateZ(0);
            }

            100% {
                opacity: 1;
                -webkit-transform: rotate(0deg) translate(-1.6875rem, 0rem) translateZ(0);
                transform: rotate(0deg) translate(-1.6875rem, 0rem) translateZ(0);
            }
        }

        @keyframes music-move {
            0% {
                -webkit-transform: rotate(0deg) translateZ(0);
                transform: rotate(0deg) translateZ(0);
            }

            33% {
                -webkit-transform: rotate(-5deg) translateZ(0);
                transform: rotate(-5deg) translateZ(0);
            }

            66% {
                -webkit-transform: rotate(5deg) translateZ(0);
                transform: rotate(5deg) translateZ(0);
            }

            100% {
                -webkit-transform: rotate(0deg) translateZ(0);
                transform: rotate(0deg) translateZ(0);
            }
        }

        @-webkit-keyframes music-move /* Safari and Chrome */
        {
            0% {
                -webkit-transform: rotate(0deg) translateZ(0);
                transform: rotate(0deg) translateZ(0);
            }

            33% {
                -webkit-transform: rotate(-5deg) translateZ(0);
                transform: rotate(-5deg) translateZ(0);
            }

            66% {
                -webkit-transform: rotate(5deg) translateZ(0);
                transform: rotate(5deg) translateZ(0);
            }

            100% {
                -webkit-transform: rotate(0deg) translateZ(0);
                transform: rotate(0deg) translateZ(0);
            }
        }

        @keyframes eyebrow-anim-right {
            0% {
                opacity: 0;
                -webkit-transform: translateY(-1.5625rem) translateZ(0);
                transform: translateY(-1.5625rem) translateZ(0);
            }

            70% {
                opacity: 1;
                -webkit-transform: translateY(.3125rem) translateZ(0);
                transform: translateY(.3125rem) translateZ(0);
            }

            100% {
                opacity: 1;
                -webkit-transform: rotate(9deg) translateY(0rem) translateZ(0);
                transform: rotate(9deg) translateY(0rem) translateZ(0);
            }
        }

        @-webkit-keyframes eyebrow-anim-right /* Safari and Chrome */
        {
            0% {
                opacity: 0;
                -webkit-transform: translateY(-1.5625rem) translateZ(0);
                transform: translateY(-1.5625rem) translateZ(0);
            }

            70% {
                opacity: 1;
                -webkit-transform: translateY(.3125rem) translateZ(0);
                transform: translateY(.3125rem) translateZ(0);
            }

            100% {
                opacity: 1;
                -webkit-transform: rotate(9deg) translateY(0rem) translateZ(0);
                transform: rotate(9deg) translateY(0rem) translateZ(0);
            }
        }

        @keyframes eyebrow-raise {
            0% {
                top: -2.1875rem;
            }

            80% {
                top: -2.1875rem;
            }

            100% {
                top: -2.8125rem;
            }
        }

        @-webkit-keyframes eyebrow-raise /* Safari and Chrome */
        {
            0% {
                top: -2.1875rem;
            }

            80% {
                top: -2.1875rem;
            }

            100% {
                top: -2.8125rem;
            }
        }

        @keyframes eyebrow-anim-left {
            0% {
                opacity: 0;
                -webkit-transform: translateY(-1.5625rem) translateZ(0);
                transform: translateY(-1.5625rem) translateZ(0);
            }

            70% {
                opacity: 1;
                -webkit-transform: translateY(.3125rem) translateZ(0);
                transform: translateY(.3125rem);
            }

            100% {
                opacity: 1;
                -webkit-transform: translateY(0rem) translateZ(0);
                transform: translateY(0rem) translateZ(0);
            }
        }

        @-webkit-keyframes eyebrow-anim-left /* Safari and Chrome */
        {
            0% {
                opacity: 0;
                -webkit-transform: translateY(-1.5625rem) translateZ(0);
                transform: translateY(-1.5625rem) translateZ(0);
            }

            70% {
                opacity: 1;
                -webkit-transform: translateY(.3125rem) translateZ(0);
                transform: translateY(.3125rem) translateZ(0);
            }

            100% {
                opacity: 1;
                -webkit-transform: translateY(0rem) translateZ(0);
                transform: translateY(0rem) translateZ(0);
            }
        }

        @keyframes border-pulse {
            0% {
                -webkit-transform: scale(0) translateZ(0);
                transform: scale(0) translateZ(0);
                border-width: 1.25rem;
            }

            40% {
                -webkit-transform: scale(1) translateZ(0);
                transform: scale(1) translateZ(0);
                border-width: 1.25rem;
                margin-left: -13.75rem;
                margin-top: -13.75rem;
            }

            100% {
                -webkit-transform: scale(1.5) translateZ(0);
                transform: scale(1.5) translateZ(0);
                border-width: 0rem;
                border-style: double;
                margin-left: -12.5rem;
                margin-top: -12.5rem;
            }
        }

        @-webkit-keyframes border-pulse /* Safari and Chrome */
        {
            0% {
                -webkit-transform: scale(0) translateZ(0);
                transform: scale(0) translateZ(0);
                border-width: 1.25rem;
            }

            40% {
                -webkit-transform: scale(1) translateZ(0);
                transform: scale(1) translateZ(0);
                border-width: 1.25rem;
                margin-left: -13.75rem;
                margin-top: -13.75rem;
            }

            100% {
                -webkit-transform: scale(1.5) translateZ(0);
                transform: scale(1.5) translateZ(0);
                border-width: 0rem;
                border-style: double;
                margin-left: -12.5rem;
                margin-top: -12.5rem;
            }
        }

        @keyframes shadow-anim {
            0% {
                opacity: 0;
                -webkit-transform: translate(6.125rem,0rem) translateZ(0);
                transform: translate(6.125rem,0rem) translateZ(0);
            }

            50% {
                opacity: 0;
            }

            100% {
                opacity: 1;
                -webkit-transform: translate(0rem,0rem) translateZ(0);
                transform: translate(0rem,0rem) translateZ(0);
            }
        }

        @-webkit-keyframes shadow-anim /* Safari and Chrome */
        {
            0% {
                opacity: 0;
                -webkit-transform: translate(6.125rem,0rem) translateZ(0);
                transform: translate(6.125rem,0rem) translateZ(0);
            }

            50% {
                opacity: 0;
            }

            100% {
                opacity: 1;
                -webkit-transform: translate(0rem,0rem) translateZ(0);
                transform: translate(0rem,0rem) translateZ(0);
            }
        }

        @keyframes triangle-light-anim {
            0% {
                -webkit-transform: translate(12.5rem,0rem) translateZ(0);
                transform: translate(12.5rem,0rem) translateZ(0);
            }

            100% {
                -webkit-transform: rotate(45deg) translate(0rem,0rem) translateZ(0);
                transform: rotate(45deg) translate(0rem,0rem) translateZ(0);
            }
        }

        @-webkit-keyframes triangle-light-anim /* Safari and Chrome */
        {
            0% {
                -webkit-transform: translate(12.5rem,0rem) translateZ(0);
                transform: translate(12.5rem,0rem) translateZ(0);
            }

            100% {
                -webkit-transform: rotate(45deg) translate(0rem,0rem) translateZ(0);
                transform: rotate(45deg) translate(0rem,0rem) translateZ(0);
            }
        }

        @keyframes triangle-dark-anim {
            0% {
                -webkit-transform: translate(-12.5rem,0rem) translateZ(0);
                transform: translate(-12.5rem,0rem) translateZ(0);
            }

            100% {
                -webkit-transform: rotate(-45deg) translate(0rem,0rem) translateZ(0);
                transform: rotate(-45deg) translate(0rem,0rem) translateZ(0);
            }
        }

        @-webkit-keyframes triangle-dark-anim /* Safari and Chrome */
        {
            0% {
                -webkit-transform: translate(-12.5rem,0rem) translateZ(0);
                transform: translate(-12.5rem,0rem) translateZ(0);
            }

            100% {
                -webkit-transform: rotate(-45deg) translate(0rem,0rem) translateZ(0);
                transform: rotate(-45deg) translate(0rem,0rem) translateZ(0);
            }
        }

        @keyframes note-anim {
            0% {
                opacity: 0;
                -webkit-transform: translate(0rem,3.125rem) translateZ(0);
                transform: translate(0rem,3.125rem) translateZ(0);
            }

            30% {
                -webkit-transform: rotate(12deg) translate(-1.875rem,0rem) translateZ(0);
                transform: rotate(12deg) translate(-1.875rem,0rem) translateZ(0);
            }

            45% {
                opacity: 1;
            }

            60% {
                -webkit-transform: rotate(-12deg) translate(1.875rem,-6.25rem) translateZ(0);
                transform: rotate(-12deg) translate(1.875rem,-6.25rem) translateZ(0);
            }

            100% {
                opacity: 0;
                -webkit-transform: rotate(0deg) translate(0rem,-12.5rem) translateZ(0);
                transform: rotate(0deg) translate(0rem,-12.5rem) translateZ(0);
            }
        }

        @-webkit-keyframes note-anim /* Safari and Chrome */
        {
            0% {
                opacity: 0;
                -webkit-transform: translate(0rem,3.125rem) translateZ(0);
                transform: translate(0rem,3.125rem) translateZ(0);
            }

            30% {
                -webkit-transform: rotate(12deg) translate(-1.875rem,0rem) translateZ(0);
                transform: rotate(12deg) translate(-1.875rem,0rem) translateZ(0);
            }

            45% {
                opacity: 1;
            }

            60% {
                -webkit-transform: rotate(-12deg) translate(1.875rem,-6.25rem) translateZ(0);
                transform: rotate(-12deg) translate(1.875rem,-6.25rem) translateZ(0);
            }

            100% {
                opacity: 0;
                -webkit-transform: rotate(0deg) translate(0rem,-12.5rem) translateZ(0);
                transform: rotate(0deg) translate(0rem,-12.5rem) translateZ(0);
            }
        }

        @keyframes text-anim {
            0% {
                -webkit-transform: translate(0rem,6.25rem) translateZ(0);
                transform: translate(0rem,6.25rem) translateZ(0);
            }

            60% {
                -webkit-transform: translate(0rem,-1.25rem) translateZ(0);
                transform: translate(0rem,-1.25rem) translateZ(0);
            }

            80% {
                -webkit-transform: translate(0rem,.9375rem) translateZ(0);
                transform: translate(0rem,.9375rem) translateZ(0);
            }

            100% {
                -webkit-transform: translate(0rem,0rem) translateZ(0);
                transform: translate(0rem,0rem) translateZ(0);
            }
        }

        @-webkit-keyframes text-anim /* Safari and Chrome */
        {
            0% {
                -webkit-transform: translate(0rem,6.25rem) translateZ(0);
                transform: translate(0rem,6.25rem) translateZ(0);
            }

            60% {
                -webkit-transform: translate(0rem,-1.25rem) translateZ(0);
                transform: translate(0rem,-1.25rem) translateZ(0);
            }

            80% {
                -webkit-transform: translate(0rem,.9375rem) translateZ(0);
                transform: translate(0rem,.9375rem) translateZ(0);
            }

            100% {
                -webkit-transform: translate(0rem,0rem) translateZ(0);
                transform: translate(0rem,0rem) translateZ(0);
            }
        }

        @keyframes eye-blink {
            0% {
                -webkit-transform: scaleY(1) translateY(0rem) translateZ(0);
                transform: scaleY(1) translateY(0rem) translateZ(0);
            }

            45% {
                -webkit-transform: scaleY(1) translateY(0rem) translateZ(0);
                transform: scaleY(1) translateY(0rem) translateZ(0);
            }

            50% {
                -webkit-transform: scaleY(0.1) translateZ(0);
                transform: scaleY(0.1) translateZ(0);
            }

            55% {
                -webkit-transform: scaleY(1) translateY(0rem);
                transform: scaleY(1) translateY(0rem);
            }

            100% {
                -webkit-transform: scaleY(1) translateY(0rem) translateZ(0);
                transform: scaleY(1) translateY(0rem) translateZ(0);
            }
        }

        @-webkit-keyframes eye-blink /* Safari and Chrome */
        {
            0% {
                -webkit-transform: scaleY(1) translateY(0rem) translateZ(0);
                transform: scaleY(1) translateY(0rem) translateZ(0);
            }

            45% {
                -webkit-transform: scaleY(1) translateY(0rem) translateZ(0);
                transform: scaleY(1) translateY(0rem) translateZ(0);
            }

            50% {
                -webkit-transform: scaleY(0.1) translateZ(0);
                transform: scaleY(0.1) translateZ(0);
            }

            55% {
                -webkit-transform: scaleY(1) translateY(0rem) translateZ(0);
                transform: scaleY(1) translateY(0rem) translateZ(0);
            }

            100% {
                -webkit-transform: scaleY(1) translateY(0rem) translateZ(0);
                transform: scaleY(1) translateY(0rem) translateZ(0);
            }
        }

        


            @keyframes move-and-fade {
                0% {
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }

                75% {
                    opacity: 0;
                }

                100% {
    
                    opacity: 0;
                }
            }
        


        .aligner {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
        }





