#resumeOverview {
  display: block;
  width: 100%;
  justify-content: center;
}

#resumeContainerID {
  display: block;
}

.resumeTable {
  width: 95%;
  margin: auto;
  border-spacing: 0;
  opacity: 1;
}

.resumeHighLight {
  color: var(--btnLight-navy) !important;
  font-weight: 750;
}

.resumeTable h2 {
  color: var(--primary-greyBlue);
}
.resumeTable h3 {
  color: var(--primary-greyBlue);
  margin: auto;
}

.resumeTable p {
  color: var(--primary-greyBlue);
}

.expTableText {
  margin: auto;
}

.row > * {
  padding: 0;
}

.width1 {
  width: 1%;
  margin: auto !important;
}

.width25 {
  width: 25%;
}

.width30 {
  width: 30%;
}

.expOverviewPeriod {
  background-color: var(--darkest-navy);
  color: var(--primary-greyBlue);
  border-radius: 18px;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem !important;
  box-shadow: var(--btnDesinShadow);
}

.expOverviewPeriod-dotted {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

.expOverviewPeriod-reverseColor {
  background-color: var(--primary-pink);
  color: black !important;
}

.expOverviewPeriod-reverseColor h3 {
  color: black !important;
}

.expOverviewPeriod-reverseColor h4 {
  color: black !important;
}

.expOverviewPeriod-reverseColor p {
  color: black !important;
  text-align: left;
  margin: auto;
  width: 50%;
}

.resumeSection {
  color: var(--primary-greyBlue);
  width: fit-content;
  margin-bottom: 2vh !important;
  margin: auto;
  opacity: 0;
  display: none;
}

.resumeNavMenu {
  background-color: var(--bg-sub-dark);
  border-radius: 18px;
  padding: 0.25rem;
  /* color: var(--primary-greyBlue); */
  margin-bottom: 1rem !important;
  margin: auto;
  margin-top: 2rem;
  justify-content: center;
  box-shadow: var(--blackWhiteShadow);
  border: 0.15rem solid black;
}

.resumeNavRow {
  justify-content: center;
  margin-top: 1rem;
}

.resumeNav {
  background-color: var(--secondaryColor);
  color: var(--primary-white) !important;

  border-radius: 18px;
  padding: 1rem;
  margin-bottom: 2vh !important;
  margin: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: var(--btnShadow);
  border: 0.1rem black solid;
}

.resumeNav h2 {
  margin: auto;
  color: var(--primary-white);
  transition: var(--transition);
}

.resumeNav:hover h2 {
  color: var(--primary-greyBlue);
}

.resumeNav:hover {
  background-color: var(--dark-navy);
  box-shadow: var(--btnSkillHoverShadow);
}

#resumeLangID.resumeNavFocus {
  background: linear-gradient(
    to left,
    var(--primary-greyBlue) 50%,
    var(--dark-navy)
  );
  color: var(--dark-navy) !important;
  background-size: 200%;
  background-position: right bottom;
  border: none !important;
}

#resumeExpID.resumeNavFocus {
  background: linear-gradient(to left, var(--primary-greyBlue) 50%, black);
  color: var(--dark-navy) !important;
  background-size: 200%;
  background-position: right bottom;
  border: none !important;
}

#resumeEduID.resumeNavFocus {
  background: linear-gradient(to left, var(--primary-greyBlue) 50%, black);
  color: var(--dark-navy) !important;
  background-size: 200%;
  background-position: right bottom;
  border: none !important;
}

.resumeNav:focus {
  background: linear-gradient(to left, var(--primary-greyBlue) 50%, black);
  color: var(--dark-navy) !important;
  background-size: 200%;
  background-position: right bottom;
  transition: all 2s ease-out;
  border: none !important;
}

.resumeNav:focus h2 {
  color: black;
}

#resumeLangID.resumeNavFocus h2 {
  color: black;
}

#resumeExpID.resumeNavFocus h2 {
  color: black;
}

#resumeEduID.resumeNavFocus h2 {
  color: black;
}

.activeNav {
  background-color: var(--primary-greyBlue);
  border-color: var(--navy);
  border-style: double;
  border-width: 0.4rem;
  outline: var(--primary-greyBlue) outset 0.25rem;
}

.resumeSection h3 {
  color: var(--primary-greyBlue);
}

.expHeader-reverseColor {
  color: var(--navy);
}

.header2UnderLine {
  border-color: var(--primary-greyBlue);
  border-width: 0.1vw;
  border-style: solid;
  height: 1.5vh;
  width: 75%;
  margin: auto;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.header2VerticalUnderLine {
  background-color: var(--primary-greyBlue);
  height: 3.5rem;
  width: 0.2rem;
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.header3UnderLine {
  background-color: var(--primary-greyBlue);
  height: 0.75vh;
  border-color: var(--navy);
  border-width: 0.1vw;
  border-style: solid;
  width: 50%;
  margin: auto;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.experienceTable {
  display: inline-block;
  justify-content: center;
}

.experienceTable td {
  overflow: hidden;
  display: inline-block;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.experienceTable .with-ellipsis td {
  text-overflow: ellipsis;
}
