#resumeOverview {
  display: block;
  width: 100%;
  justify-content: center;
}

#resumeContainerID {
  display: block;
}

.resumeTable {
  width: 95%;
  margin: auto;
  border-spacing: 0;
  opacity: 1;
}

.resumeTable h3 {
  margin: auto;
}

.resumeTable p {
  color: var(--primaryText);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.9rem;
}

.row > * {
  padding: 0;
}

h4 {
  color: var(--secondaryColor-darkest);
}

.expOverviewPeriod {
  background-color: var(--primaryColor);
  color: var(--primaryText);
  border-radius: 18px;
  margin: auto !important;
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
  border: 0.1rem solid black;
  box-shadow: var(--blackWhiteShadow);
  padding: 0.5rem;
  max-width: 30rem;
}

.resumeExpText {
  text-align: left;
  margin-bottom: 0.1rem !important;
  padding-bottom: 0 !important;
}

.resumeSection {
  color: var(--primary-white);
  background: var(--bg-sub-dark);
  border-radius: 18px;
  margin-bottom: 2vh !important;
  margin: auto !important;
  opacity: 0;
  display: none;
  padding: 0.5rem;
  max-width: 47.5rem;
}

.resumeNavMenu {
  background-color: var(--bg-sub-dark);
  border-radius: 18px;
  padding: 0.25rem;
  margin-bottom: 1rem !important;
  margin: auto;
  margin-top: 2rem;
  justify-content: center;
  box-shadow: var(--blackWhiteShadow);
  border: 0.15rem solid black;
}

.resumeNavRow {
  justify-content: center;
  margin-top: 1rem;
}

.resumeNav {
  background-color: var(--secondaryColor);
  color: var(--primary-white) !important;

  border-radius: 18px;
  padding: 1rem;
  margin-bottom: 2vh !important;
  margin: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: var(--btnShadow);
  border: 0.1rem black solid;
}

.resumeNav h2 {
  margin: auto;
  color: var(--primary-white);
  transition: var(--transition);
}

.resumeNav:hover {
  background-color: var(--btnHoverColor);
}

#resumeLangID.resumeNavFocus {
  background: linear-gradient(
    to left,
    var(--btnHoverColor) 50%,
    var(--secondaryColor-darkest)
  );
  color: var(--primary-white) !important;
  background-size: 200%;
  background-position: right bottom;
  border: none !important;
}

#resumeExpID.resumeNavFocus {
  background: linear-gradient(
    to left,
    var(--btnHoverColor) 50%,
    var(--secondaryColor-darkest)
  );
  background-size: 200%;
  background-position: right bottom;
  border: none !important;
}

#resumeEduID.resumeNavFocus {
  background: linear-gradient(
    to left,
    var(--btnHoverColor) 50%,
    var(--secondaryColor-darkest)
  );
  background-size: 200%;
  background-position: right bottom;
  border: none !important;
}

.resumeNav:focus {
  background: linear-gradient(
    to left,
    var(--btnHoverColor) 50%,
    var(--secondaryColor-darkest)
  );
  background-size: 200%;
  background-position: right bottom;
  transition: all 2s ease-out;
  border: none !important;
}

.activeNav {
  background-color: var(--darkest-slate);
  border-color: var(--navy);
  border-style: double;
  border-width: 0.4rem;
}

.resumeSection h3 {
  color: var(--primaryText);
}

.header2UnderLine {
  border-color: var(--secondaryColor-dark);
  border-width: 0.3rem;
  border-style: solid;
  height: 1rem;
  width: 75%;
  margin: auto;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.header3UnderLine {
  background-color: var(--secondaryColor-darkest);
  height: 0.25rem;
  max-width: 40%;
  margin: auto;
  margin-top: 0.5rem;
}

.experienceTable {
  display: inline-block;
  justify-content: center;
}

.expSubContainer {
  background-color: var(--primaryColor);
  padding: 1rem;
  padding-bottom: 2rem;
  justify-items: center;
  border-radius: 18px;
  width: 99%;
  margin: auto;
}

.expSubContainer > .row {
  width: 95% !important;
  margin: auto !important;
}

.expRow {
  padding: 0;
  margin: 0;
  border-bottom: 0.15rem var(--secondaryColor-darkest) solid;
}

.experienceTable td {
  overflow: hidden;
  display: inline-block;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.experienceTable .with-ellipsis td {
  text-overflow: ellipsis;
}
