:root {
  /*Claymorphism boxShadows*/
  --menuBtnShadow: 0rem 0rem 0.1rem -0.1rem black,
    inset -0.1rem -0.1rem 0.5rem 0.1rem var(--secondaryColor-shadow),
    inset 0rem 0.2rem 0.25rem 0.1rem var(--primary-white);

  --menuBtnHoverShadow: 0 0.1rem 0.25rem 0 var(--primary-white),
    inset 0 0 1rem 0.5rem var(--navy);

  /*NYA KNAPP SHADOW!!!! */
  --btnShadow: 0.1rem 0.1rem 0.1rem 0.1rem black,
    inset -0.1rem -0.1rem 0.5rem 0.1rem var(--secondaryColor-shadow),
    inset 0.6rem 0.65rem 0.25rem -0.4rem var(--primary-white);

  --btnHoverShadow: 0 0.2rem 0.25rem 0 var(--primary-white),
    inset 0 0 1rem 0.5rem var(--secondary-shadow);

  --btnActiveShadow: 0 0.3rem 0.25rem 0 var(--lightest-slate),
    inset 0 0 3rem 0 var(--secondary-shadow);

  --btnDesinShadow: 0 0 0.1rem -0.1rem var(--darkest-navy),
    inset -0rem -0.1rem 0.2rem 0.2rem var(--light-navy),
    inset 0.2rem 0.4rem 0.5rem -0.3rem var(--primary-white);

  --btnDesinHoverShadow: 0 0 0 0 black, inset 0 0rem 0.25rem 0.25rem var(--navy);

  --btnDesinActiveShadow: 0 -0.1rem 0.1rem 0.2rem black;

  --blackWhiteShadow: 0 0rem 0.1rem 0rem black,
    inset 0rem 0.1rem 0.1rem 0 var(--primary-white);

  --duckMouthUpperShadow: 0 0.1rem 0.25rem 0.1rem black,
    inset 0 -0.2rem 0.75rem 0.1rem var(--navy),
    inset 0 0.4rem 0.5rem -0.2rem var(--primary-white);

  --duckMouthLowerShadow: 0 -0.1rem 0.75rem 0.1rem black,
    inset 0 -0.2rem 0.75rem 0.1rem var(--navy),
    inset 0.2rem -0.5rem 0.25rem -0.1rem var(--primary-white);

  /* Colors */
  --primary-white: rgba(245, 237, 237, 0.993);
  --primary-red: rgba(197, 12, 12, 0.993);

  /*About */
  --primary-blue: #1d42bd;
  --primary-darker-blue: #2d6296;
  --primary-darker-green: #2f8f5f;
  --primary-dark-brown: #5f3314;
  --primary-grey: rgb(75, 75, 75);
  --primary-lightDarkGrey: #747070;
  --primary-lightPink: rgb(255, 182, 194);

  /*Duck & Basket*/
  --primary-orange: #f39e00;
  --primary-light-orange: #ffbd42;

  /* SKILLS */
  --primary-lightGrey: #cccccc;

  /*Personality*/
  --primary-green: #0eff06;
  --primary-brown: #96592d;

  /*Book */
  --primary-pink: #e5a7d6;

  --darkest-navy: #050216;
  --dark-navy: #270303;
  --navy: #2f0c0a;
  --light-navy: #401111;
  --lightest-navy: #602828;
  --btnLight-navy: #782121;

  --tint-navy: #7cacfd;
  --navy-shadow: rgba(27, 2, 2, 0.7);
  --darkest-slate: #1d232f;

  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #c9d1f5;
  --whiteBg-hover: #c9d1f5c2;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 219, 0.404);
  --green-light-tint: rgba(100, 255, 219, 0.486);
  --pink: #f57dff;
  --blue: #57cbff;

  /*THESE COLORS ONLY!!!!*/
  /* #ebebc7; */

  --bg-nav: #cfae6c;

  --bg: #f8f1b827;

  --bg-sub-dark: #7757272f;
  --primaryColor: #fcfaee;
  --primaryText: #533905ef;

  --secondaryColor: #c58e20;
  --secondaryColor-dark: #916610;
  --secondaryColor-darkest: #5c3e03;
  --secondaryColor-shadow: #462f02;

  --btnHoverColor: #ac7b1b;
  --btnActiveColor: #a3710c;

  --accent: #9ae7a7;

  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /*CSS TRANSITIONS*/
  --transition: all 0.15s ease-in;
}

/************************* MAIN CSS CLASSES *********************************/

.sectionAnimation {
  background-color: var(--bg);
  min-height: 110vh;
  margin: auto;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.primaryContainer {
  /* background-color: var(--primaryColor); */
  /* box-shadow: var(--blackWhiteShadow); */
  width: 95% !important;
  border-radius: 18px;
  margin: 1rem;
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: var(--btnHoverColor);
  transition: var(--transition);
}

button:active {
  transition: var(--transition);
  scale: 0.95;
}

.menuBtn {
  border-radius: 15% 15% 50% 50% !important;

  transition: var(--transition) !important;
  box-shadow: var(--menuBtnShadow) !important;
}

.menuBtn .fntAwesome {
  background-color: var(--secondaryColor);
  margin: auto;
}
.menuBtn:hover {
  background-color: var(--btnHoverColor);
}

.menuBtn:active {
  color: var(--slate);
  background-color: var(--btnActiveColor) !important;
  scale: 0.95;
}

.btnPlay {
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border-color: "var(--lightest-slate)" !important;
  border-width: 0.25rem;
  border-style: "dashed" !important;
  border-radius: 50%;
  justify-content: start;
  align-content: space-around;
}

.highLight {
  color: var(--secondaryColor-dark);
  font-weight: 600;
}

/************************* HTML classes *********************************/

body {
  font-family: "Roboto", "PressStart", sans-serif !important;
  background-color: var(--bg) !important;
}

#root {
  background-color: var(--bg);
}

.bodyDefaultBg {
  background-color: var(--dark-navy);
}

.bodyRedGreen {
  background-color: rgb(9, 9, 34);
}

.bodyYellowBlue {
  background-color: rgb(4, 29, 29);
}

.bodyTotalGray {
  background-color: rgb(15, 15, 15);
}

.colorBlindRedGreen {
  filter: url("./assets/filters.svg#protanopia");
  -webkit-filter: url("./assets/filters.svg#protanopia");
}

.colorBlindYellowBlue {
  filter: url("./assets/filters.svg#tritanopia");
  -webkit-filter: url("./assets/filters.svg#tritanopia");
}

.colorBlindTotal {
  filter: url("./assets/filters.svg#achromatopsia");
  -webkit-filter: url("./assets/filters.svg#achromatopsia");
  transform: translate3d(0, 0, 0);
}

h1 {
  font-family: Fredoka One, sans-serif;
  font-size: 2.5rem !important;
  font-weight: 1000 !important;
  text-transform: uppercase !important;
  text-align: center !important;
  margin-bottom: 1rem !important;
  color: var(--primaryText);
  /* opacity: 0; */
}

h2 {
  font-family: Fredoka One, sans-serif !important;
  font-weight: 800 !important;
  text-transform: uppercase !important;
  font-size: 2rem;
  color: var(--primaryText);
}

h3 {
  font-family: Fredoka One, sans-serif !important;
  font-weight: 750 !important;

  font-size: 1.75rem;
  margin: auto !important;
  text-align: center !important;
  word-break: keep-all !important;
  color: var(--primaryText) !important;
  /* opacity: 0; */
}

h4 {
  font-family: Fredoka One, sans-serif !important;
  font-weight: 400 !important;
  padding: 0.5rem !important;
  font-size: 1.05rem !important;
}

p,
label,
ul > li {
  font-family: Rubik, cursive !important;
  font-weight: 400 !important;

  font-size: 0.9rem;
  vertical-align: middle !important;
  word-wrap: break-word;
  word-spacing: normal;

  color: var(--darkest-navy);
}

.p-italic {
  font-style: italic !important;
}
/* Specialtext - undantag från paragraph*/
.skill {
  font-size: 0.6rem;
}

@media (max-width: 25rem) {
  .skillPointGround {
    font-size: 0.95rem;
  }

  .skillTable tbody p {
    font-size: 0.725rem;
  }

  .expOverviewPeriod p {
    font-size: 0.7rem;
    font-weight: 740;
  }

  .resumeNavMenu {
    width: 8rem;
    display: flex;
  }

  .duckText {
    width: 90%;
  }
  .personalityTraits,
  .personalityBaseTraits {
    font-size: 0.65rem !important;
  }
}

@media (min-width: 25.1rem) {
  .resumeNavMenu {
    width: 8rem;
    display: flex;
  }
  .skillTable tbody p {
    font-size: 0.9rem;
  }

  .duckText,
  .welcomeText {
    width: 75%;
  }

  .personalityTraits,
  .personalityBaseTraits {
    font-size: 0.65rem !important;
  }
}

@media (min-width: 30rem) {
  .skillTable tbody p {
    font-size: 0.8375rem;
  }
  .duckText,
  .welcomeText {
    max-width: 30rem;
  }

  .personalityTextContainer {
    width: 75% !important;
  }
}

@media (min-width: 45rem) {
  .resumeNavMenu {
    width: 35rem;
    display: inline-flex;
  }

  .resumeNavRow {
    display: inline-flex;
    width: min-content;
  }
}

@media (min-width: 60rem) {
  .skill {
    font-size: 1rem !important;
  }

  p,
  ul > li,
  .skill {
    font-size: 0.95rem;
  }

  .periodColContainer {
    margin: auto;
  }
}

@media (min-width: 120rem) {
  .carousel-root {
    max-width: 50vw;
  }
  .testimonials-content {
    margin: auto !;
    display: inline-block;
    transform: scale(1.5) !important;
    width: 35vw;
    margin-top: 5rem !important ;
    justify-content: center;
  }

  .skillCategory {
    font-size: 3rem !important;
  }

  h1 {
    font-size: 5rem !important;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.25rem !important;
  }

  .navLinkH3 {
    font-size: 1.4rem !important;
  }

  h4 {
    font-size: 1.35rem !important;
  }

  p,
  ul > li,
  .skill,
  .personalityBaseTraits,
  .personalityTraits {
    font-size: 1.25rem !important;
  }
}

/************************* NAVBAR *********************************/
/* Handle */
::-webkit-scrollbar:vertical {
  width: 0.9rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem var(--dark-slate);
  background-color: var(--darkest-navy);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb:vertical {
  background: var(--slate);
  border-radius: 18px;
  height: 0.25rem !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:vertical:hover {
  background: var(--tint-navy);
  height: 0.25rem !important;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: var(--dark-slate);
  height: 0.25rem !important;
}

.fntAwesome {
  color: var(--primary-white);
  padding-top: 0.5rem;
  height: 1.3rem !important;
  width: 1.6rem !important;
}

.navLinkH3 {
  font-size: 1.05rem;
}

.navbar-toggler {
  border-color: none !important;
  border: none !important;
  right: 0 !important;
  position: absolute !important;
  top: 0 !important;
  margin: 0.15rem !important;
  height: 2.5rem !important;
}

.navbar-nav > li > a:hover {
  border-bottom: 0.15rem solid var(--secondaryColor) !important;
}
#navLinkHomeID:focus {
  border-bottom: 0.15rem solid var(--secondaryColor-dark) !important;
  transition: all 1s ease-out;
}

#navLinkHomeID.navFocus {
  border-bottom: 0.15rem solid var(--secondaryColor-dark) !important;
  transition: all 1s ease-out;
}

#navLinkAboutID:focus {
  border-bottom: 0.15rem solid var(--secondaryColor-dark) !important;
  transition: all 1s ease-out;
}

#navLinkAboutID.navFocus {
  border-bottom: 0.15rem solid var(--secondaryColor-dark) !important;
  transition: all 1s ease-out;
}

#navLinkSkillsID:focus {
  border-bottom: 0.15rem solid var(--secondaryColor-dark) !important;
  transition: all 1s ease-out;
}

#navLinkSkillsID.navFocus {
  border-bottom: 0.15rem solid var(--secondaryColor-dark) !important;
  transition: all 1s ease-out;
}

#navLinkPersonalityID:focus {
  border-bottom: 0.15rem solid var(--secondaryColor-dark) !important;
  transition: all 1s ease-out;
}

#navLinkPersonalityID.navFocus {
  border-bottom: 0.15rem solid var(--secondaryColor-dark) !important;
  transition: all 1s ease-out;
}

#navLinkResumeOverviewID:focus {
  border-bottom: 0.15rem solid var(--secondaryColor-dark) !important;
  transition: all 1s ease-out;
}

#navLinkResumeOverviewID.navFocus {
  border-bottom: 0.15rem solid var(--secondaryColor-dark) !important;
  transition: all 1s ease-out;
}

#navLinkExperiencesID:focus {
  border-bottom: 0.15rem solid var(--secondaryColor-dark) !important;
  transition: all 1s ease-out;
}

#navLinkExperiencesID.navFocus {
  border-bottom: 0.15rem solid var(--secondaryColor-dark) !important;
  transition: all 1s ease-out;
}

#navLinkContactID:focus {
  border-bottom: 0.15rem solid var(--secondaryColor-dark) !important;
  transition: all 1s ease-out;
}

#navLinkContactID.navFocus {
  border-bottom: 0.15rem solid var(--secondaryColor-dark) !important;
  transition: all 1s ease-out;
}

.navbar {
  top: 0 !important;
  position: sticky !important;
  position: -webkit-sticky !important;
  z-index: 2 !important;
  transition: transform 0.5s ease-in-out !important;
  min-height: 5rem !important;
}

.customNav {
  background-color: var(--bg-nav);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  overflow: auto;
}

.customNavBrand {
  display: flex;
  top: -0.5rem;
  position: absolute;
  margin: 1rem;
  padding: 0.5rem;
}

.navTest {
  width: 5rem;
  height: 5rem;
  background-color: black;
}

#navbarTogglerID {
  width: 3rem;

  background-color: var(--secondaryColor);
  border: 0.1rem black solid !important;
}
#navbarTogglerID:hover {
  background-color: var(--btnHoverColor);
}

.linksContainer {
  display: flex;
  min-height: 5rem;
  width: fit-content;
  margin-top: 0.5rem;
}

.linksContainer h4 {
  margin: 0;
  padding: 0;
}

.toolsContainer {
  border-radius: 18px;
  padding-bottom: 0.5rem;
  padding-top:0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  background-color: var(--bg-sub-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 23rem;
  width: fit-content;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  width: max-content;
  min-width: 90%;
}

.button-col {
  display: inline-block;
  padding: 0.1rem;
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

#labelRedGreen {
  margin-left: -0.95rem !important;
}

#labelYellowBlue {
  margin-left: -1.15rem !important;
}

.button-row button {
  margin: auto !important;
  display: inline-flex !important;
}

.toolsContainer > .row {
  width: fit-content !important;
}

.toolsContainer h4 {
  margin-top: -0.85rem;
  margin-left: -0.45rem;
  padding: 0;
}

.navSubIcon {
  background-color: var(--secondaryColor) !important;
  width: 2.5rem;
  display: flex;
  border-radius: 50%;
  transition: var(--transition);
  box-shadow: var(--btnShadow);
  padding-top: 0.3rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  margin-left: 0.15rem !important;
}

.navSubIcon:hover {
  background-color: var(--secondaryColor-dark) !important;
  transition: var(--transition) !important;
}

.navSubIcon:active {
  background-color: var(--btnActiveColor) !important;
  scale: 0.95 !important;
  transition: var(--transition) !important;
}

.toolBtnActive {
  background-color: var(--btnActiveColor) !important;
  scale: 0.95 !important;
}

#navIconID {
  color: var(--primary-white) !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.green {
  color: #0eff06;
}
nav a.nav-link {
  cursor: pointer;
}

a.nav-link h3 {
  text-align: left !important;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-hidden {
  transform: translateY(-100%);
  transition: transform 2s ease-in-out;
}

@media (min-width: 45rem) {
  .collapse {
    display: none !important;
  }
}

.navbar-nav > li > a {
  border-bottom-color: transparent;
  padding-bottom: 0.1rem;
  margin-bottom: 0.1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.btnLabelNav {
  margin: auto !important;
  padding-left: 0.25rem !important;
  display: flex;
  font-weight: bold !important;
  color: var(--darkest-slate);
  /* margin-left: 0.25rem; */
}
