  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
  :root
  {
    /* Colors */
    --primary-white:rgba(249, 247, 247, 0.969);
    --primary-blue: #3F7FBF;
    --primary-darker-blue: #2d6296;

    --primary-red: #fa4545;
    --primary-yellow: #fffc66;
    --primary-orange: #f39e00;
    --primary-green: #33d684;
    --primary-darker-green: #3d9a6c;

    --primary-brown: #96592d;

    --primary-greenBlue: rgb(49, 221, 192);
    --primary-light-green:#64ffda;

    --primary-grey: rgb(75, 75, 75);
    --primary-lightGrey:#cccccc;
    --primary-lightDarkGrey:#747070;
    --primary-pink: rgb(255, 112, 134);
    --primary-lightPink: rgb(255, 182, 194);
    --primary-purple: #d080ff;

    --darkest-navy: #041122;
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 219, 0.404);
    --green-light-tint: rgba(100, 255, 219, 0.486);
    --pink: #f57dff;
    --blue: #57cbff;
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }


  /*************************CSS TOOLS *********************************/


  /* CSS trick, markerar ut elementen  */
    
  /*
     *{
      outline: 1px solid red;
    }       


    /* Färgblindhet */
    /* *{
      filter: grayscale(100%);
      
    } */

    /* Dyslexi / Förstoring */
  /* *{
    line-height: 1.5 !important;
    letter-spacing: 0.12em !important;
    word-spacing:0.16em !important;
  }  */
  
    

  /************************* MAIN CSS CLASSES *********************************/
  .sectionAnimation{
    min-height: 90vh;
    margin-bottom: 5rem !important;
    margin: auto;
    padding-bottom: auto;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .sectionLine{
    width: 100% !important;
    height:0.25rem;
    margin-bottom: 1.5rem;
  }

  .flexCenter{
    display: flex;
    justify-content: center;
  }
  

  .header-wraper {
    position:relative;
    }
  
    .main-info{
      display:flex;
      position:absolute;
      top:0;
      left:0;
      right:0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .playIcon{
      width:5rem;
      height: 5rem;
      border-width: 0.5rem;
      border-style: solid;
      border-color: var(--light-slate);
      border-radius: 50%;
      margin-bottom: 1rem;
    }
  
    .btnPlay{
      width:4rem;
      height:4rem;
      background-color: transparent;
      border-color:'var(--lightest-slate)' !important;
      border-width: 0.25rem;
      border-style: 'dashed' !important;
      border-radius: 50%;
      justify-content: start;
      align-content: space-around;
    }
  
  .iconPlay{
    position: absolute;
    margin: auto;
    margin-top:-0.75rem;
    margin-left: -0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    z-index: 100;
  }

  .logo
  {
    height: 4rem;
    margin: auto !important;
    width:40rem !important;
  }
  /************************* HTML classes *********************************/
  body
  {
  font-family: 'Roboto', sans-serif;
  background-color: var(--navy) !important;
  }

  h1{
    font-style: var(--font-sans) !important;
    font-size: 2.75rem !important;
    font-weight: 1000 !important;
    text-transform: uppercase !important;
    text-align: center !important;
    margin-bottom: 1rem !important;
  }

  h2{
    font-style: var(--font-sans) !important;
    font-weight: 800 !important;
    text-transform: uppercase !important;
    font-size: 2rem !important;
  }

  h3{
    font-style: var(--font-sans) !important;
    font-weight: 750 !important;
  
    font-size:1.75rem !important;
    margin: auto !important;
    text-align: center !important;
    word-break: keep-all !important;
  }

  h4{
    font-style: var(--font-sans) !important;
    font-weight: 650   !important;
    padding: 0.5rem !important;
    font-size:1rem !important;
  }

  p{
    font-style: var(--font-mono) !important;
    font-weight: 625 !important;
    
    font-size:0.8375rem;
    vertical-align: middle !important;
    word-wrap: break-word;
    word-spacing: normal;
    ;
  }

  /* Specialtext - undantag från paragraph*/ 
  .skill{
    font-size:0.6rem;
  }

/* @media (max-width: 19.9rem){
  .typed-text{
    height: 20rem;
  }
}

@media (min-width: 20rem){
  .typed-text{
    height: 10rem;
  }
} */

@media (max-width: 25rem){
  .expOverviewPeriod p{
    font-size: 0.75rem;
    font-weight: 740;
  }
}
  @media (min-width: 30rem) {
    .typed-text{
      height: 5rem;
    }
  
    .duckText{
      width: 22.5rem !important;
    }

    .techText{
      width: 25rem !important;
    }

    .personalityTextContainer{
      width:30rem !important;
      margin-top: 10rem !important;
    }

    .portfolioTextContainer{
      width:30rem !important;
      margin-top: 10rem !important;
    }
  } 
  
  
  /************************* NAVBAR *********************************/

  #customNav
  {
    z-index:1000;
    background-color: transparent;
    width:12vh;
    height: 1vh;
    margin-top: 0.5vh;
  }
  
  #navbarTogglerID {
    border-color: var(--slate);
    border-width:0.2rem;
    border-style:solid;
    position: relative;
  }

  #navIconID{
  color:var(--primary-orange);
  width: 1rem;
  }

  nav
  {
    z-index:2;
    color:var(--primary-greenBlue);
    width: 25vw !important;
  }

  nav a.nav-link
  {
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: normal;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  nav ul li
  {
    text-transform: uppercase;
  }

  .navbar-nav{
    background-color:rgba(2, 12, 27, 0.829);
    border-radius: 18px;
    border-color: var(--primary-orange);
    border-width: 0.1rem;
    border-style: dashed;
  }

  .navbar-nav > li > a
  {
    color:var(--primary-orange) !important;
  }

  .navbar-brand
  {
    max-width:17.25rem;
    padding:0 i !important;
    height:6rem im !important;
  }

  .navbar-nav > li > a.active, .navbar-nav > li > a:hover
  {
    border-bottom: 0.1875rem solid var(--slate) !important;
    color:var(--lightest-slate) !important;
  }

  .navbar-nav > li > a:focus
  {
    border-bottom: 0.1875rem solid #724e0c !important;
    color:var(--lightest-slate) !important;
  }